<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="billerStructureForm" (ngSubmit)="onSubmit()">
            <div class="card">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                            <mat-label>Biller Name</mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">                                            
                                <input readonly matInput type="text" formControlName= "biller_name">
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                            <mat-label>Biller Category</mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">                                            
                                <input readonly matInput type="text" value="{{blr_cat}}"   formControlName= "biller_category">
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <mat-label>Source Name</mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">                                            
                                <input readonly matInput type="text" formControlName= "source_name">
                                <mat-error *ngIf="billerStructureForm.get('source_name')">Source Name is required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>File Type <em style="color: red;">*</em></mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">                                            
                                <mat-select formControlName="file_type_ref_id" required>
                                    <mat-option value="">Select File</mat-option>
                                    <mat-option [value]="file.id" *ngFor="let file of filetypesData">{{file.master_key}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="billerStructureForm.get('file_type_ref_id')">File Type is Required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Version Number</mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">                                            
                                <input readonly matInput formControlName="version_number" placeholder="1">
                                <mat-error *ngIf="billerStructureForm.get('version_number')">Version Number is required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <div class="form-group">
                                <mat-label>From Date<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">                                                
                                    <input matInput [matDatepicker]="from_date" (click)="from_date.open()"  id="from_date" [min]="todayDate"
                                    [(ngModel)]="todayDate"  formControlName="from_date">
                                    <mat-datepicker-toggle matSuffix [for]="from_date"  ></mat-datepicker-toggle>
                                    <mat-datepicker #from_date></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>To Date</mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">                                            
                                <input matInput formControlName="to_date" readonly>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Status</mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">                                            
                                <input matInput readonly formControlName="revision_status" placeholder="Effective/Future">
                                <mat-error *ngIf="billerStructureForm.get('revision_status')">Revision Status is Required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">                                   
                            <div class="form-group">
                                <label class="form-label">Is It Temporary/Permanent?</label>
                                <br>
                                <mat-label>Temporary</mat-label>
                                <mat-slide-toggle id="is_temporary_flag" 
                                formControlName="is_temporary_flag"  (change)="isItTemporary($event)" [disabled]="disabledtemporary_flag" >Permanent</mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="body">
                    <h5 style="text-align: center;"><strong>Define Source Details</strong>
                        <hr style="border: 1px solid;color:#0f4f8e;">
                    </h5><br>
                    <p style="color: red; text-align: center; ">Primary Key must Select "Bill Number" as per NPCI Parameter is unique reference number on Biller Side and all Parameters have unique Name using lowercase and avoid special characters</p>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="body">
                                    <div class="body table-responsive" formArrayName="initialItemRow">
                                        <table aria-describedby="" class="table table-hover">
                                             <thead>
                                                <tr>
                                                    <th style="text-align:center">
                                                        Sr.No.</th>
                                                    <th style="text-align:center">
                                                        NPCI Parameter</th>
                                                    <th style="text-align:center">
                                                        Biller Parameter</th>
                                                    <th style="text-align:center">
                                                        Actual Biller Parameter</th>
                                                    <th style="text-align:center">
                                                        Type of Field</th>
                                                    <th style="text-align:center">
                                                        Parameter Length</th>
                                                    <th style="text-align:center">
                                                        Primary Key?</th>
                                                    <th style="text-align:center">
                                                        Customer Parameter?</th>    
                                                    <th style="text-align:center">
                                                        Remove</th>
                                                    <th style="text-align:center">
                                                        Add</th>
                                                </tr>
                                             </thead>
                                             <tbody class="main_tbody">
                                                <ng-container>
                                                    <tr *ngFor="let dynamic of billerStructureForm.controls.initialItemRow['controls']; let i = index" [formGroupName]="i">
                                                        <td>
                                                            <input readonly formControlName="sr_no"
                                                                style="width: 50px"
                                                                placeholder="{{i + 1}}" class="form-control"
                                                                type="text" value="{{i+1}}" />
                                                        </td>
                                                        <td>
                                                            <select class="form-control change_version_NPCI_Parameter"                                                                        
                                                                formControlName="npci_parameter_ref_id"
                                                                id="npci_parameter_ref_id{{i}}"
                                                                (change)="changeNPCIParameter(i)"                                                                                                                                
                                                                [disabled]="isdisabledflag">
                                                                <option value="">Select Parameter</option>
                                                                <option *ngFor="let field of npciparameterData"
                                                                    value="{{field.id}}" >
                                                                    {{field.master_key}}</option>
                                                            </select>
                                                        </td>

                                                        <td>
                                                            <input formControlName="actual_field_name" id="actual_field_name{{i}}"
                                                            placeholder="Enter Parameter Name" (change)="changeFieldName(i)"
                                                            class="form-control change_version_name_of_field" type="text" 
                                                            [readonly]="isdisabledflag"/>
                                                        </td>

                                                        <td>
                                                            <input formControlName="field_name"
                                                                placeholder="Parameter Name" id="field_name{{i}}"
                                                                class="form-control" readonly/>
                                                        </td>
                                                        <td>
                                                            <select class="form-control change_version_type_of_field"
                                                                formControlName="field_data_type_ref_id"
                                                                id="field_data_type_ref_id{{i}}" [disabled]="isdisabledflag" (change)="selectDataFormat($event,i)">
                                                                <option value="">Select Field</option>
                                                                <option *ngFor="let field of fieldData"
                                                                [value]="field.id">
                                                                    {{field.master_key}}</option>
                                                            </select>
                                                        </td>
                                                        
                                                        <td *ngIf="!showDiv[i]">
                                                            <input formControlName="field_length"
                                                                class="form-control change_version_field_length" type="text"
                                                                placeholder="{{dyanmicPlaceHolder[i]}}"
                                                                id="length"
                                                                placeholder="Enter valid Length"
                                                                (change)="changeFieldNameAccFieldLength(i)" [readonly]="isdisabledflag"/>
                                                        </td>
                                                        <td *ngIf="showDiv[i]">
                                                            <select class="form-control change_version_field_length" formControlName="field_length" id="date-format-feild">
                                                                <option selected value="">Select Date Format
                                                                </option>
                                                                <option *ngFor="let data of allDataTypes[i]"
                                                                value="{{data.master_key}}">
                                                                    {{data.master_key}}</option>
                                                            </select>
                                                        </td>
                                                       

                                                        <td>
                                                            <div class="col-6" style="margin-left: 25px;">
                                                                <div class="col-6">
                                                                    <mat-checkbox formControlName="is_primary_field" id="is_primary_field{{i}}" 
                                                                        class="change_version_is_primary_key" 
                                                                        (change)="$event ? selection.toggle(i) : null" 
                                                                        [checked]="selection.isSelected(i)"
                                                                        (change) = "toggleValue(i)"
                                                                        [disabled]="isdisabledflag">
                                                                    </mat-checkbox>
                                                                </div>
                                                            </div>
                                                        </td>    
                                                        <td>
                                                            <div class="col-6" style="margin-left: 25px;">
                                                                <div class="col-6">
                                                                    <mat-slide-toggle formControlName="customer_parameter_field"
                                                                     id="customer_parameter_field{{i}}">
                                                                    </mat-slide-toggle>
                                                                </div>
                                                            </div>
                                                        </td>     

                                                        <ng-container *ngIf="i>=0">
                                                            <td>
                                                                <button type="button"
                                                                    class="btn btn-outline-danger btn-border-radius"
                                                                    (click)="deleteRow(i)">-
                                                                </button>
                                                            </td>
                                                        </ng-container>
                                                        <ng-container *ngIf="i==0">
                                                            <td>
                                                                <button type="button"
                                                                    class="btn btn-outline-success btn-border-radius"
                                                                    (click)="addNewRow()">+
                                                                </button>
                                                            </td>
                                                        </ng-container>
                                                    </tr>
                                                </ng-container>
                                            </tbody>                  
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                            
                </div>
            </div>
            <div class="card">
                <div class="body" style="text-align: center;">
                    <div class="button-demo">
                        <button type="submit"  *ngIf="submitBtn" [disabled]="showLoader"
                        [disabled]="!billerStructureForm.valid"
                        class="btn btn-primary btn-border-radius waves-effect">{{btnVal}}
                        <em class="fa fa-spinner fa-spin" *ngIf="showLoader"></em>
                        </button>
                        <button class="btn btn-danger" type="button" (click)="onCancelForm()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>                        

