<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form">
        <span class="error-header p-b-45">
          500
        </span>
        <span class="error-subheader2 p-b-5">
          Oops, Something went wrong. Please try after some times.
        </span>

        <div class="w-full p-t-15 p-b-7 text-center" (click)='backToCurrent()'>
          <div>
            <a href="#" class="txt1">
              Try Again
            </a>
          </div>
        </div>

        <div class="container-login100-form-btn p-t-30	">
          <button mat-flat-button color="primary" class="login100-form-btn" (click)='submit()'>
            Go To Home Page
          </button>
        </div>
        <div class="w-full p-t-15 p-b-15 text-center">
          <div>
            <a href="#" class="txt1">
              Need Help?
            </a>
          </div>
        </div>
      </form>
      <div class="login100-more" style="background-image: url('assets/images/500_error.svg');">
      </div>
    </div>
  </div>
</div>
