<section class="content">
    <app-screen-header [screenName]="screenName" (showFormList)="showFormList($event)" [showList]="showList" [sidebarData]="sidebarData"></app-screen-header>
    <app-payment-file-details *ngIf="listDiv === true" [rowData]="rowData" (onSave)="onSave($event)" [editFlag]="editFlag" (onCancel)="onCancel($event)" [submitBtn]="submitBtn" [showLoader]="showLoader">
    </app-payment-file-details>
    <div class="row clearfix" [hidden]="listDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <div class="table-responsive">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="example1" type="button">
                                    <span>Excel</span>
                                </button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: right;">
                                <mat-form-field appearance="fill">
                                    <mat-label>
                                        <em class="fa fa-search" aria-hidden="true"></em>
                                        Search
                                    </mat-label>
                                    <input matInput (keyup)='tbl_FilterDatatable($event.target.value)'>
                                </mat-form-field>
                            </div>
                        </div>

                        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" id="excel-table">

                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef style="color: white;">Actions</mat-header-cell>
                                <mat-cell *matCellDef="let row;">
                                    <span *ngFor="let sidebar of sidebarData">
                                        <button *ngIf="sidebar.read_access=='Y'" class="btn tblActnBtn h-auto" data-toggle="modal" data-target="#editModal" (click)="editViewRecord(row,'view')">
                                            <em class="material-icons">visibility</em>
                                        </button>      
                                        <button *ngIf="!newSourceData.includes(row.status) && sidebar.write_access=='Y'" class="btn tblActnBtn h-auto" data-toggle="modal" data-target="#editModal" (click)="editViewRecord(row,'edit')">
                                            <em class="material-icons">mode_edit</em>
                                        </button>                                  
                                    </span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="biller_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Biller Name</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.biller_name}}</mat-cell>
                            </ng-container>  

                            <ng-container matColumnDef="from_date">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Payment From Date</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.from_date}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="to_date">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Payment  Date as On</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.to_date}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="total_transaction_amount">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Total Transaction Amount</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.total_transaction_amount}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="transaction_date">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Transaction Date</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.transaction_date}}</mat-cell>
                            </ng-container>      
                            
                            <ng-container matColumnDef="File_Status">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Status</mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span >{{row.status}}</span> </mat-cell>
                            </ng-container>    

                            <mat-header-row *matHeaderRowDef="displayColumns" style="background-color:#666666;"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayColumns;" [style.cursor]="'pointer'" matRipple></mat-row>
                        </mat-table>
                        <mat-paginator #dataSourcePaginator="matPaginator" [pageSizeOptions]="[10, 15, 20]" [showFirstLastButtons]="true">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>