<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-4">
      <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>
                <div class="text-center">
                  <div>
                    <a routerLink="" class="logo-full"><img src="assets/images/rhythmflows_logo.png" alt="logo-full"></a>
                  </div>     
                  
                  <div *ngIf="isForgotScreen">
                    <h4 class="font-20 mt-4">Forgotten Password ?</h4>
                    <p class="text-muted">Enter your username to reset your password</p>
                  </div>

                  <div *ngIf="!isForgotScreen">
                    <h4 class="font-20 mt-4">New Password ?</h4>
                    <p class="text-muted">Enter OTP and Password with Confirm Password</p>
                  </div>
                                    
                </div>

                <div class="p-2 mt-5">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">                    
                    <div *ngIf="error" class="alert alert-danger mb-3 mt-0">{{error}}</div>

                    <div class="form-group auth-form-group mb-4" *ngIf="isForgotScreen">
                      <mat-label>Username</mat-label>
                      <mat-form-field class="example-full-width" appearance="outline"> 
                        <input matInput formControlName="username" id="username" placeholder="Username" required>
                        <mat-icon matSuffix>face</mat-icon>
                        <mat-error *ngIf="loginForm.get('username').hasError('required')">
                          Username is required
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div *ngIf="!isForgotScreen">
                      <div class="form-group auth-form-group mb-4">
                        <mat-label>One Time Password</mat-label>
                        <mat-form-field class="example-full-width" appearance="outline">                          
                            <input matInput formControlName="otp" id="otp" placeholder="Enter OTP" required>
                            <mat-error *ngIf="loginForm.get('otp').hasError('required')">
                              OTP is required
                            </mat-error>
                          </mat-form-field>
                      </div>

                      <div class="form-group auth-form-group mb-4">
                        <mat-label>Password</mat-label>
                        <mat-form-field class="example-full-width" appearance="outline">                          
                            <input matInput formControlName="password" id="password" placeholder="Password" 
                              [type]="PasswordHide ? 'password' : 'text'" required>
                            <mat-icon matSuffix (click)="PasswordHide = !PasswordHide">
                              {{PasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error *ngIf="loginForm.get('password').hasError('required')">
                              Password is required
                            </mat-error>
                            <mat-error *ngIf="loginForm.get('password').hasError('pattern')">
                              Password must contain more than 8 characters, 1 upper case letter, and 1 special character
                            </mat-error>
                          </mat-form-field>
                      </div>

                      <div class="form-group auth-form-group mb-4">
                        <mat-label>Confirm Password</mat-label>
                        <mat-form-field class="example-full-width" appearance="outline">                          
                            <input matInput formControlName="confirmpassword" id="confirmpassword" placeholder="Confirm Password" 
                              [type]="confirmPasswordHide ? 'password' : 'text'" required>
                            <mat-icon matSuffix (click)="confirmPasswordHide = !confirmPasswordHide">
                              {{confirmPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error *ngIf="loginForm.get('confirmpassword').hasError('required')">
                                Confirm Password is required
                            </mat-error>
                            <mat-error *ngIf="loginForm.get('confirmpassword').hasError('pattern')">
                              Password must contain more than 8 characters, 1 upper case letter, and 1 special character
                            </mat-error>
                          </mat-form-field>
                      </div>     

                      <div class="flex-sb-m w-full p-t-15 p-b-20" *ngIf="!isForgotScreen">
                        <div>
                          OTP not received? <a class="txt1" style="color: #0070d2; cursor: pointer;" (click)="resendCode()">Try again!</a>
                        </div>
                      </div>
                    </div>

                    <div class="container-login100-form-btn">
                      <button mat-flat-button color="primary" 
                        *ngIf="isForgotScreen"
                        class="login100-form-btn" type="submit">
                        Reset My Password   
                        <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>                  
                      </button>
                    </div>

                    <div class="container-login100-form-btn">
                      <button mat-flat-button color="primary" 
                        *ngIf="!isForgotScreen" (click)="updatePassword()"
                        class="login100-form-btn" type="button">
                        Update Password    
                        <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>                 
                      </button>
                    </div>

                  </form>
                </div>

                <div class="mt-5 text-center">
                  <p>Want To Login ? <a routerLink="/authentication/signin" class="font-weight-medium text-primary"> Log in </a> </p>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="auth-bg">
        <div class="bg-overlay"></div>
      </div>
    </div>
  </div>
</div>
