<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="aggregatorChargesForm" (ngSubmit)="onSubmit()">
            <div class="card">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Biller</mat-label>
                                    <mat-select formControlName="biller_company_ref_id" required>
                                        <mat-option [value]=""> Select Biller </mat-option>
                                        <mat-option [value]="data.id" *ngFor="let data of companydata">
                                            {{data.company_name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="aggregatorChargesForm.get('biller_company_ref_id')">Biller Name is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Aggregator</mat-label>
                                    <mat-select formControlName="aggregator_company_ref_id" required>
                                        <mat-option [value]=""> Select Aggregator </mat-option>
                                        <mat-option [value]="data.id" *ngFor="let data of AggregatorData">
                                            {{data.company_name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="aggregatorChargesForm.get('aggregator_company_ref_id')">Biller Name is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>BBPOU Bank</mat-label>
                                    <mat-select formControlName="bbpou_company_ref_id" required>
                                        <mat-option [value]=""> Select BBPOU </mat-option>
                                        <mat-option [value]="data.id" *ngFor="let data of BBPOUBankData">
                                            {{data.company_name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="aggregatorChargesForm.get('bbpou_company_ref_id')">Biller Name is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Biller Category</mat-label>
                                    <input matInput readonly type="text" value={{biller_cat}}>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Onboarding Type</mat-label>
                                    <input matInput readonly type="text" value={{onboarding_mode}}>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" appearance="outline">   
                                <mat-label>From Date</mat-label>
                                    <input matInput [matDatepicker]="start_date" (click)="start_date.open()"  id="start_date" [min]="todayDateMin" [max]="todayDateMax"
                                    [(ngModel)]="todayDate"  formControlName="start_date">
                                    <mat-datepicker-toggle matSuffix [for]="start_date"  ></mat-datepicker-toggle>
                                    <mat-datepicker #start_date></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>To Date</mat-label>
                                    <input matInput  formControlName="end_date" readonly>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Revision Status</mat-label>
                                    <input readonly matInput formControlName="revision_status" placeholder="Effective / Future" required>
                                    <mat-error *ngIf="aggregatorChargesForm.get('revision_status')">Revision Status is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
           
                    <div class="card">
                        <div class="body">
                            <h3 style="text-align: center;"><strong>Biller Charges Details</strong></h3><br>

                            <h6 style="text-align:center; color:red; border:#0f4f8e; border-width:1px; border-style:solid; padding:10px">
                                <strong>Note :- Rate and Percentage values cannot be zero, unless the Transaction Mode is ON-US.</strong>
                            </h6>

                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="body">
                                            <div class="body table-responsive" formArrayName="initialItemRow">
                                                <table aria-describedby="" class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:center">Action</th>
                                                            <th style="text-align:center">Transaction Mode</th>
                                                            <th style="text-align:center">Percentage || Rate</th>
                                                            <th style="text-align:center">Percent</th>
                                                            <th style="text-align:center">Rate</th>
                                                            <th style="text-align:center">Min Commission</th>
                                                            <th style="text-align:center">Max Commission</th>
                                                            <th style="text-align:center">Tax Rate</th>
                                                            <th style="text-align:center">Min Value</th>
                                                            <th style="text-align:center">Max Value</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="main_tbody">
                                                        <ng-container>
                                                            <tr *ngFor="let dynamic of aggregatorChargesForm.controls.initialItemRow['controls']; let i = index" [formGroupName]="i">
                                                                    <td>
                                                                        <ng-container *ngIf="i==0">
                                                                            <button type="button"
                                                                                class="btn btn-primary btn-rounded waves-effect"
                                                                                (click)="addNewRow()">+
                                                                            </button>
                                                                        </ng-container>
                                                                        <ng-container *ngIf="i>0">
                                                                            <button type="button"
                                                                                class="btn btn-danger btn-rounded waves-effect"
                                                                                (click)="deleteRow(i)" >-
                                                                            </button>
                                                                        </ng-container>
                                                                    </td>  

                                                                    <td class="col_input">
                                                                        <select class="form-control" id="transaction_mode_ref_id{{i+1}}" formControlName="transaction_mode_ref_id" (change)="transaction_all_modes(i)" (change)="changeon_feetype_fields(i)"  required style="width:150px;">
                                                                            <option value="">Select</option>
                                                                            <option [value]="data.id" *ngFor="let data of transactionmode">{{data.master_key}}</option>
                                                                        </select>
                                                                    </td>
                                                                
                                                                    <td class="col_input">
                                                                        <label for="percent">Per</label>
                                                                        <input type="radio" name="rate_flag{{i+1}}" id="rate_flag{{i+1}}" value="N" (change)="ratePercentFlag($event.target.value,i)" [checked]="checkRadioButton(i,'N')">
                                                                        <label for="rate">Rate</label>
                                                                        <input type="radio" name="rate_flag{{i+1}}" id="rate_flag{{i+2}}" value="Y" (change)="ratePercentFlag($event.target.value,i)" [checked]="checkRadioButton(i,'Y')">
                                                                    </td>

                                                                    <td class="col_input">
                                                                        <input class="form-control" type="number" id="percent{{i+1}}" min="0" required formControlName="percent" style="width:80px;" (change)="passed_applicable_percent_control(i)">
                                                                    </td>

                                                                    <td class="col_input">
                                                                        <input class="form-control" type="number" id="rate{{i+1}}" min="0" required formControlName="rate" style="width:80px;" (change)="passed_applicable_rate_control(i)">
                                                                    </td>

                                                                    <td class="col_input">
                                                                        <input class="form-control" type="number" id="min_commission_text{{i+1}}" formControlName="min_commission" style="width:100px;">
                                                                    </td>

                                                                    <td class="col_input">
                                                                        <input class="form-control" type="number" id="max_commission_text{{i+1}}" formControlName="max_commission" style="width:100px;">
                                                                    </td>
                                                                    
                                                                    <td class="col_input">
                                                                        <select class="form-control" id="tax_rate{{i+1}}" formControlName="tax_rate" style="width:120px;">
                                                                            <option value="">Select</option>
                                                                            <option [value]="data.tax_rate_id" *ngFor="let data of taxdata">{{data.tax_rate}}</option>
                                                                        </select>
                                                                    </td>
                                                                    <td class="col_input">
                                                                        <input class="form-control" type="number" readonly id="min_value_text{{i+1}}" min="1" (click)="min_maxValue(i, 'MIN')" formControlName="min_value" style="width:100px;">
                                                                    </td>

                                                                    <td class="col_input">
                                                                        <input class="form-control" type="number" id="max_value_text{{i+1}}" min="1" (change)="min_maxValue(i, 'MAX')" formControlName="max_value" style="width:100px;">
                                                                    </td>                                                              

                                                                </tr>
                                                        </ng-container>
                                                    </tbody>        
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="card">
                <div class="body" style="text-align: center;">
                    <div class="button-demo">
                        <button class="btn btn-primary mr5" type="submit" *ngIf="submitBtn" [disabled]="showLoader"
                            name="submit" value="Submit">{{btnVal}}
                            <em class="fa fa-spinner fa-spin" *ngIf="showLoader"></em>
                        </button>
                        <button class="btn btn-danger" type="button" (click)="onCancelForm()">Cancel</button>
                    </div>
                </div>
            </div>                               
        </form>                
    </div>
</div>    
