<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Support</strong> Tickets
            </h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-lg-3 col-sm-6">
                <div class="info-box7 bg-c-blue order-info-box7">
                  <div class="info-box7-block">
                    <h4 class="m-b-20">Total Tickets</h4>
                    <h2 class="text-end"><em class="fas fa-ticket-alt float-start"></em><span>1,276</span></h2>
                    <p class="m-b-0">18% Higher Then Last Month</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="info-box7 bg-c-green order-info-box7">
                  <div class="info-box7-block">
                    <h4 class="m-b-20">Reply</h4>
                    <h2 class="text-end"><em class="fas fa-reply float-start"></em><span>865</span></h2>
                    <p class="m-b-0">21% Higher Then Last Month</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="info-box7 bg-c-yellow order-info-box7">
                  <div class="info-box7-block">
                    <h4 class="m-b-20">Resolve</h4>
                    <h2 class="text-end"><em class="fas fa-clipboard-check float-start"></em><span>457</span></h2>
                    <p class="m-b-0">37% Higher Then Last Month</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="info-box7 bg-c-pink order-info-box7">
                  <div class="info-box7-block">
                    <h4 class="m-b-20">Pending</h4>
                    <h2 class="text-end"><em class="fas fa-clipboard-list float-start"></em><span>239</span></h2>
                    <p class="m-b-0">10% Higher Then Last Month</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table aria-describedby="" mat-table [dataSource]="dataSource" class="w-100">
                <ng-container matColumnDef="checked">
                  <th mat-header-cell *matHeaderCellDef width:10px> # </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-checkbox [(ngModel)]="element.checked"></mat-checkbox>
                  </td>
                </ng-container>
                <ng-container matColumnDef="imageUrl">
                  <th mat-header-cell *matHeaderCellDef width:10px> User </th>
                  <td mat-cell *matCellDef="let element" class="table-img"> <img [src]="element.imageUrl" alt="" /> </td>
                </ng-container>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef width:10px> Opened By </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <ng-container matColumnDef="subject">
                  <th mat-header-cell *matHeaderCellDef> Subject </th>
                  <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef width:10px> Status </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="badge"> {{element.status}}</div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="assignTo">
                  <th mat-header-cell *matHeaderCellDef width:10px> Assign To </th>
                  <td mat-cell *matCellDef="let element"> {{element.assignTo}} </td>
                </ng-container>
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef width:10px> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef width:15px> Actions </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button class="btn-tbl-edit">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="btn-tbl-delete">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
