<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="showList === false">
                    <div class="header">
                        <h2>
                            <strong>{{screenName}}</strong>
                        </h2>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="showList === true">
                    <div class="header">
                        <h2>
                            <strong>List of {{screenName}}</strong>
                        </h2>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="showList === false" style="text-align: right;">
                    <div class="header">
                        <h2>
                            <button class="btn btn-primary btn-rounded waves-effect" type="button" (click)="showListTable();"><em class="fa fa-calendar"></em>List of {{screenName}}</button>
                        </h2>
                    </div>
                </div>

                

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="showList === true" style="text-align: right;">
                    <div class="header" *ngFor="let item of sidebarData">
                        <h2 *ngIf="item.write_access=='Y'">
                            <button class="btn btn-primary btn-rounded waves-effect" type="button" (click)="showFrom();"><em class="fa  fa-plus"></em>Add New {{screenName}}</button>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>