<section class="content">
    <app-screen-header [screenName]="screenName" (showFormList)="showFormList($event)" [showList]="showList" [sidebarData]="sidebarData"></app-screen-header>
    <app-define-biller-structure-details 
    *ngIf="listDiv === true"
    [rowData]="rowData"
    (onSave)="onSave($event)"
    (onCancel)="onCancel($event)"
    [editFlag]="editFlag"
    [submitBtn]="submitBtn"
    [showLoader]="showLoader"
    [billerStructureData]="billerStructureData">
</app-define-biller-structure-details>
    <div class="row clearfix" [hidden]="listDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <div class="table-responsive">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <button class="btn btn-secondary buttons-copy buttons-html5"
                                    tabindex="0" aria-controls="example1" type="button"
                                    (click)="export_to_excel();">
                                    <span>Excel</span>
                                </button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: right;">
                                <mat-form-field appearance="fill">
                                    <mat-label>
                                    <em class="fa fa-search" aria-hidden="true"></em>
                                    Search
                                    </mat-label>
                                    <input matInput (keyup)='tbl_FilterDatatable($event.target.value)'>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" id="excel-table">
                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef style="color: white;">Actions</mat-header-cell>
                                <mat-cell *matCellDef="let row;">
                                    <span *ngFor="let item of sidebarData">
                                        <button *ngIf="item.read_access=='Y'" class="btn tblActnBtn h-auto" (click)="editViewRecord(row,'view')">
                                            <em class="material-icons">visibility</em>
                                        </button>                   
                                        <button *ngIf="row.status == 'Temporary Save' && item.write_access=='Y' && row.revision_status=='Effective'" class="btn tblActnBtn h-auto" (click)='editViewRecord(row,"tempedit")'>
                                                <em class="material-icons">mode_edit</em>
                                        </button>
                                    </span>
                                </mat-cell>
                            </ng-container> <ng-container matColumnDef="biller_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Biller Name</mat-header-cell>
                                <mat-cell *matCellDef="let row" > {{row.biller_name}}</mat-cell>
                            </ng-container>
        
                            <ng-container matColumnDef="biller_category">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Biller Category</mat-header-cell>
                                <mat-cell *matCellDef="let row" > {{row.biller_category}}</mat-cell>
                            </ng-container>
  
                            <ng-container matColumnDef="source_name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Source Name</mat-header-cell>
                              <mat-cell *matCellDef="let row" > {{row.source_name}}</mat-cell>
                            </ng-container>   
                            
                            <ng-container matColumnDef="file_type">
                              <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">File Type</mat-header-cell>
                              <mat-cell *matCellDef="let row" > {{row.file_type}}</mat-cell>
                            </ng-container> 
                            
                            <ng-container matColumnDef="from_date">
                              <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">From Date</mat-header-cell>
                              <mat-cell *matCellDef="let row" > {{row.from_date}}</mat-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="to_date">
                              <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">To Date</mat-header-cell>
                              <mat-cell *matCellDef="let row" > {{row.to_date}}</mat-cell>
                            </ng-container>
  
                            <ng-container matColumnDef="revision_status">
                              <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Revision Status</mat-header-cell>
                              <mat-cell *matCellDef="let row" > {{row.revision_status}}</mat-cell>
                            </ng-container>
  
                            <ng-container matColumnDef="version_number">
                              <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Version Number</mat-header-cell>
                              <mat-cell *matCellDef="let row" > {{row.version_number}}</mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayColumns" style="background-color:#666666;"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayColumns;" [style.cursor]="'pointer'" matRipple>
                            </mat-row>
                        </mat-table>
                        <mat-paginator #dataSourcePaginator="matPaginator" [pageSizeOptions]="[ 10, 15, 20]" [showFirstLastButtons]="true">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>                        
</section>