<section class="content">
    <app-screen-header [screenName]="screenName" (showFormList)="showFormList($event)" [showList]="showList" [sidebarData]="sidebarData"></app-screen-header>
    <app-define-bbpou-company-details 
        *ngIf="listDiv === true" 
        [rowData]="rowData" 
        (onSave)="onSave($event)"
        [editFlag]="editFlag"
        (onCancel)="onCancel($event)"
        [submitBtn]="submitBtn"
        [bbpouCompanyData]="bbpouCompanyData"
        [showLoader]="showLoader">
    </app-define-bbpou-company-details>
    <div class="row clearfix" [hidden]="listDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">                    
                    <div *ngIf="!listingDataCheck">
                        <app-data-not-found></app-data-not-found>                        
                    </div>
                    <div class="table-responsive" *ngIf="listingDataCheck">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <button class="btn btn-secondary buttons-copy buttons-html5"
                                    tabindex="0" aria-controls="example1" type="button"
                                    (click)="export_to_excel();">
                                    <span>Excel</span>
                                </button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: right;">
                                <mat-form-field appearance="fill">
                                    <mat-label>
                                    <em class="fa fa-search" aria-hidden="true"></em>
                                    Search
                                    </mat-label>
                                    <input matInput (keyup)='tbl_FilterDatatable($event.target.value)'>
                                </mat-form-field>
                            </div>
                         </div>
                         <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" id="excel-table">
                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef style="color: white;">Actions</mat-header-cell>
                                <mat-cell *matCellDef="let row;">
                                    <span *ngFor="let item of sidebarData">
                                        <button *ngIf="item.read_access=='Y'" class="btn tblActnBtn h-auto" data-toggle="modal" data-target="#editModal" (click)="editViewRecord(row,'view')">
                                            <em class="material-icons">visibility</em>
                                        </button>
                                        <button *ngIf="item.write_access=='Y'"  class="btn tblActnBtn h-auto" (click)="editViewRecord(row,'edit')">
                                            <em class="material-icons">mode_edit</em>
                                        </button>
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="company_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Company Name</mat-header-cell>
                                <mat-cell *matCellDef="let row" > {{row.company_name}}</mat-cell>
                            </ng-container>
  
                            <ng-container matColumnDef="company_type">
                              <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Company Type</mat-header-cell>
                              <mat-cell *matCellDef="let row" > {{row.company_type}}</mat-cell>
                          </ng-container>
  
                            <ng-container matColumnDef="city">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">City</mat-header-cell>
                                <mat-cell *matCellDef="let row" > {{row.city}}</mat-cell>
                            </ng-container>
  
                            <ng-container matColumnDef="address1">
                              <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Address</mat-header-cell>
                              <mat-cell *matCellDef="let row" > {{row.address1}}</mat-cell>
                            </ng-container>
  
                            <ng-container matColumnDef="email">
                              <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Email</mat-header-cell>
                              <mat-cell *matCellDef="let row" > {{row.email}}</mat-cell>
                            </ng-container>
  
                            <mat-header-row *matHeaderRowDef="displayColumns" style="background-color:#666666;"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayColumns;" [style.cursor]="'pointer'" matRipple>
                            </mat-row>
                        </mat-table>        
                        <mat-paginator #dataSourcePaginator="matPaginator" [pageSizeOptions]="[ 10, 15, 20]" [showFirstLastButtons]="true">
                        </mat-paginator>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
