<div id="new_entry_form">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <form class="taxAuthorityForm-form m-4" [formGroup]="taxAuthorityForm" (ngSubmit)="onSubmit()">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <input type="hidden" formControlName="id" id="id" [value]="" class="form-control">

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                                <div class="form-group">
                                    <mat-label>Name<em style="color: red;">*</em></mat-label>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <input matInput type="text" formControlName="tax_name" placeholder="Enter Tax Name" required>
                                        <mat-error *ngIf="taxAuthorityForm.controls['tax_name'].hasError('required')">Tax Name is mandatory.</mat-error>
                                        <mat-error *ngIf="taxAuthorityForm.controls['tax_name'].hasError('pattern')">Character(s) are not allowed.</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                                <div class="form-group">
                                    <mat-label>Country<em style="color: red;">*</em></mat-label>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-select formControlName="country_ref_id" placeholder="Country">
                                            <mat-option [value]="">
                                                Select Country
                                            </mat-option>
                                            <mat-option [value]="data.id" *ngFor="let data of countrydata">
                                                {{data.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="taxAuthorityForm.controls['country_ref_id'].hasError('required')">Country
                                            is Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                                <div class="form-group">
                                    <mat-label>Ward<em style="color: red;">*</em></mat-label>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <input matInput formControlName="ward" placeholder="Ward">
                                        <mat-error *ngIf="taxAuthorityForm.controls['ward'].hasError('required')">Ward
                                            is Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                                <div class="form-group">
                                    <mat-label>Zone<em style="color: red;">*</em></mat-label>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <input matInput formControlName="zone_ref_id" placeholder="Zone" />
                                        <mat-error
                                            *ngIf="taxAuthorityForm.controls['zone_ref_id'].hasError('required')">Zone
                                            is Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                                <div class="form-group">
                                    <mat-label>Tax Type<em style="color: red;">*</em></mat-label>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-select formControlName="tax_type_ref_id" placeholder="Tax Type">
                                            <mat-option [value]="">
                                                Select Tax Type
                                            </mat-option>
                                            <mat-option [value]="data.id" *ngFor="let data of taxTypeData">
                                                {{data.master_key}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="taxAuthorityForm.controls['tax_type_ref_id'].hasError('required')">Tax
                                            Type is Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="body" style="text-align: center;">
                        <div class="button-demo">
                            <button class="btn btn-primary mr5" type="submit" *ngIf="submitBtn" [disabled]="showLoader"
                                name="submit" value="Submit">{{btnVal}}
                                <em class="fa fa-spinner fa-spin" *ngIf="showLoader"></em>
                            </button>
                            <button class="btn btn-danger" type="button" (click)="onCancelForm()">Cancel</button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>