<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="bbpouBankForm" (ngSubmit)="onSubmit()">
            <div class="card">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Membership ID <em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="membership_id" placeholder="Membership ID" required>
                                <mat-error *ngIf="bbpouBankForm.get('membership_id')">Membership ID is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>NPCI Biller BBPOU ID<em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="npci_biller_bbpou_id" placeholder="NPCI Biller BBPOU ID" required>
                                <mat-error *ngIf="bbpouBankForm.get('npci_biller_bbpou_id')">NPCI Biller BBPOU ID is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Onboarding Status<em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-select formControlName="onboarding_status_ref_id" required>
                                    <mat-option value="">Select Onboarding Status</mat-option>
                                    <mat-option [value]="data.id" *ngFor="let data of onboardingstatusData">
                                        {{data.master_key}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="bbpouBankForm.get('onboarding_status_ref_id')">Onboarding Status is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>BBPOU Bank Name<em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="bbpou_bank_name" placeholder="BBPOU Bank Name" required>
                                <mat-error *ngIf="bbpouBankForm.get('bbpou_bank_name')">BBPOU Bank Name is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Branch Name<em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="branch_name" placeholder="Branch Name" required>
                                <mat-error *ngIf="bbpouBankForm.get('branch_name')">Branch Name is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Bank Code<em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="bank_code" placeholder="Bank Code" required>
                                <mat-error *ngIf="bbpouBankForm.get('bank_code')">Bank Code is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">                                        
                            <mat-label>Bank Account Number<em style="color: red;">*</em></mat-label> 
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput type="text" formControlName="account_number" placeholder="Bank Account Number" required>
                                <mat-error *ngIf="bbpouBankForm.get('account_number')">Bank Account Number is required! (Only 9 to 26 characters are allowed and only enter numbers .)</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Country<em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-select formControlName="country_ref_id" required>
                                    <mat-option value="">Select Country</mat-option>
                                    <mat-option [value]="data.id" *ngFor="let data of countryData">
                                        {{data.name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="bbpouBankForm.get('country_ref_id')">Country is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>State<em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-select formControlName="state_ref_id" required>
                                    <mat-option value="">Select State</mat-option>
                                    <mat-option [value]="data.id" *ngFor="let data of stateData">
                                        {{data.state}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="bbpouBankForm.get('state_ref_id')">State is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>City<em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-select formControlName="city_ref_id" required>
                                    <mat-option value="">Select City</mat-option>
                                    <mat-option [value]="data.id" *ngFor="let data of cityData">
                                        {{data.city_name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="bbpouBankForm.get('city_ref_id')">City is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Address Line 1<em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="address1" placeholder="Address Line 1" required>
                                <mat-error *ngIf="bbpouBankForm.get('address1')">Address Line 1 is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Address Line 2<em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="address2" placeholder="Address Line 2" required>
                                <mat-error *ngIf="bbpouBankForm.get('address2')">Address Line 2 is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Pincode<em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="pincode" placeholder="Pincode" required>
                                <mat-error *ngIf="bbpouBankForm.get('pincode').hasError('required') || bbpouBankForm.get('pincode').touched">
                                    Please enter a valid pincode!
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Contact Person Name<em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="contact_person_name" placeholder="Contact Person Name" required>
                                <mat-error *ngIf="bbpouBankForm.get('contact_person_name')">Contact Person Name is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Mobile No.</mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="contact_person_mobile_number" placeholder="Mobile No.">
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Email ID</mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="email" placeholder="Email ID">
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>GST No.<em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="gst" placeholder="GST No." required>
                                <mat-error *ngIf="bbpouBankForm.get('gst').hasError('required') || bbpouBankForm.get('gst').touched">
                                    Please enter a valid GST number!
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>PAN<em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="pan" placeholder="PAN" required>
                                <mat-error *ngIf="bbpouBankForm.get('pan').hasError('required') || bbpouBankForm.get('pan').touched">
                                    Please enter a valid PAN!
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>TAN<em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="tan" placeholder="TAN" required>
                                <mat-error *ngIf="bbpouBankForm.get('tan').hasError('required') || bbpouBankForm.get('tan').touched">
                                    Please enter a valid TAN!
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>IFSC Code<em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="ifsc_code" placeholder="IFSC Code" required>
                                <mat-error *ngIf="bbpouBankForm.get('ifsc_code')">IFSC Code is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Swift Code</mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="swift_code" placeholder="Swift Code">
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>IBAN Code</mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="iban_code" placeholder="IBAN Code">
                            </mat-form-field>
                        </div>
                    </div>
                        
                    <h5 style="text-align: center;"><strong>Contact Details</strong>
                        <hr style="border: 1px solid;color:#0f4f8e;">
                    </h5><br>

                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="body">
                                    <div class="table-responsive" formArrayName="initialItemRow">
                                        <table id="tableExport" aria-describedby="" class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Action</th>
                                                    <th style="text-align:center">Contact Person Name</th>
                                                    <th style="text-align:center">Designation</th>
                                                    <th style="text-align:center">Contact Person Mobile No.</th>
                                                    <th style="text-align:center">Email ID</th>
                                                </tr>
                                            </thead>
                                            <tbody class="main_tbody">
                                                <tr *ngFor="let dynamic of bbpouBankForm.controls.initialItemRow['controls']; let i = index" [formGroupName]="i">
                                                    <td>
                                                        <ng-container *ngIf="i==0">
                                                            <td>
                                                                <button type="button" class="btn btn-primary btn-rounded waves-effect" (click)="addNewRow()">+</button>
                                                            </td>
                                                        </ng-container>
                                                        <ng-container *ngIf="i>0">
                                                            <td>
                                                                <button type="button" class="btn btn-danger btn-rounded waves-effect" (click)="deleteRow(i)">-</button>
                                                            </td>
                                                        </ng-container>
                                                    </td>
                                                    <td class="col_input">
                                                        <input class="form-control" type="text" id="contact_person_name{{i+1}}" placeholder="Enter Name" formControlName="contact_person_name" required>
                                                    </td>

                                                    <td class="col_input">
                                                        <input class="form-control" type="text" id="designation{{i+1}}" placeholder="Enter Designation" formControlName="designation">
                                                    </td>

                                                    <td class="col_input">
                                                        <input class="form-control" type="text" id="contact_person_mobile_number{{i+1}}" placeholder="Enter Mobile No." formControlName="contact_person_mobile_number" required>
                                                    </td>

                                                    <td class="col_input">
                                                        <input class="form-control" type="text" id="email{{i+1}}" placeholder="Enter Email ID" formControlName="email" required>
                                                    </td>
                                            </tr>

                                            </tbody>            
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                           
                </div>
            </div>
            <div class="card">
                <div class="body" style="text-align: center;">
                    <div class="button-demo">
                        <button class="btn btn-primary mr5" type="submit" *ngIf="submitBtn" [disabled]="showLoader" 
                            [disabled]="bbpouBankForm.invalid"
                            name="submit" value="Submit">{{btnVal}} 
                            <em class="fa fa-spinner fa-spin" *ngIf="showLoader"></em>
                        </button>
                        <button class="btn btn-danger" type="button" (click)="onCancelForm()">Cancel</button>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>                       
