.switchRead,.switchWrite,.switchDelete
  position: relative
  display: inline-block
  width: 37px
  height: 19px
  border-radius: 20px
  margin-left: 10px
  margin-right: 10px

.switchRead input,.switchWrite input,.switchDelete input
  opacity: 0
  width: 0
  height: 0

input:checked + .slider
  background-color: #0d6efd

input:focus + .slider
  box-shadow: 0 0 1px #2196F3

input:checked + .slider:before
  -webkit-transform: translateX(16px)
  -ms-transform: translateX(16px)
  transform: translateX(16px)

.slider
  position: absolute
  cursor: pointer
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: dimgray
  -webkit-transition: .4s
  transition: .4s
  border-radius: 24px

.slider:before
  position: absolute
  content: ""
  height: 16px
  width: 16px
  left: 2px
  bottom: 2px
  background-color: white
  -webkit-transition: .4s
  transition: .4s
  border-radius: 24px  
