<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="new_entry_title">
                            <div class="header">
                                <h2>
                                    <strong>Assign Screen To Role</strong>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="btn_list" style="text-align: right;padding-right: 32px;padding-top: 5px;">
                            <div class="header">
                                <h2>
                                    <button class="btn btn-primary btn-rounded waves-effect" type="button" (click)="showList();"><em class="fa fa-calendar"></em>List of Assign Screen to Role</button>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="list_title">
                            <div class="header">
                                <h2>
                                    <strong> List of Assign Screen To Role</strong>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="btn_new_entry" style="text-align: right;padding-right: 32px;padding-top: 5px;">
                            <div class="header" *ngFor="let item of sidebardata">
                                <h2 *ngIf="item.write_access=='Y'">
                                    <button class="btn btn-primary btn-rounded waves-effect" type="button" (click)="showNewEntry();"><em class="fa  fa-plus"></em>Add New Assign Screen to Role</button>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="new_entry_form">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form [formGroup]="ScreenToRole_Form" (ngSubmit)="onSubmit()">
                        <div class="card">
                            <div class="body">
                                <div class="row clearfix">
                                    <input type="hidden" formControlName="id" id="id" value="[id]" class="form-control">

                                    <div class="col-xl-6 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <div class="form-group">
                                            <mat-label>Select Company <em style="color: red;">*</em></mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-select formControlName="company_ref_id" id="company_ref_id" [disabled]="shouldDisable" required>
                                                    <mat-option>
                                                        <ngx-mat-select-search [formControl]="getCompanytoSearch" placeholderLabel="Find Company..." noEntriesFoundLabel="Company Not found">
                                                        </ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option value="">Select Company</mat-option>
                                                    <mat-option *ngFor="let data of companydata|searchBiller:filterdCompanyName" [value]="data.id">
                                                        {{data.company_name}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="ScreenToRole_Form.get('company_ref_id')">Please Select Company</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-label>Select Role <em style="color: red;">*</em></mat-label>
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-select formControlName="assigned_to_role" id="assigned_to_role" [disabled]="shouldDisable" required>
                                                <mat-option value="">Select Role</mat-option>
                                                <mat-option *ngFor="let data of roledata" [value]="data.id">
                                                    {{data.role_name}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="ScreenToRole_Form.get('assigned_to_role')">Please Select Role</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="body">
                                <div class="form-group">
                                    <mat-table #table matTableExporter [dataSource]="leftpaneldata" #exporter="matTableExporter" matSort class="mat-cell">

                                        <ng-container matColumnDef="check">
                                            <mat-header-cell *matHeaderCellDef style="background-color: #CAD5E2;"> </mat-header-cell>
                                            <mat-cell *matCellDef="let leftpanel" [style.background-color]="leftpanel.is_parent === 'Y' ? '#90e0ef' : 'd0efff' && leftpanel.is_child === 'Y' ? '#caf0f8' : 'd0efff'">
                                                <div id='list'>
                                                    <input type="checkbox" value="{{leftpanel.id}}" (change)="onCheckboxChange(leftpanel,$event)">
                                                </div>
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="form_name">
                                            <mat-header-cell *matHeaderCellDef style="background-color: #CAD5E2;">Form Name </mat-header-cell>
                                            <mat-cell *matCellDef="let leftpanel" [style.background-color]="leftpanel.is_parent === 'Y' ? '#90e0ef' : 'd0efff' && leftpanel.is_child === 'Y' ? '#caf0f8' : 'd0efff'">
                                                <strong>{{leftpanel.form_name}}</strong></mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="read_access">
                                            <mat-header-cell *matHeaderCellDef style="background-color: #CAD5E2;"> Read Access </mat-header-cell>
                                            <mat-cell *matCellDef="let leftpanel" [style.background-color]="leftpanel.is_parent === 'Y' ? '#90e0ef' : 'd0efff' && leftpanel.is_child === 'Y' ? '#caf0f8' : 'd0efff'">
                                                <div id='list'>
                                                    <label [style.margin-left.px]="15">No</label>
                                                    <label class="switchRead">
                                <input type="checkbox" name="read{{leftpanel.id}}" (change)="read(leftpanel,$event)">
                                <span class="slider"></span>
                              </label>
                                                    <label>Yes</label>
                                                </div>
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="write_access">
                                            <mat-header-cell *matHeaderCellDef style="background-color: #CAD5E2;">Write Access</mat-header-cell>
                                            <mat-cell *matCellDef="let leftpanel" [style.background-color]="leftpanel.is_parent === 'Y' ? '#90e0ef' : '#d0efff' && leftpanel.is_child === 'Y' ? '#caf0f8' : 'd0efff'">
                                                <div id='list'>
                                                    <label [style.margin-left.px]="15">No</label>
                                                    <label class="switchWrite">
                                <input type="checkbox" name="write{{leftpanel.id}}" (change)="write(leftpanel,$event)">
                                <span class="slider"></span>
                              </label>
                                                    <label>Yes</label>
                                                </div>
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="delete_access">
                                            <mat-header-cell *matHeaderCellDef style="background-color: #CAD5E2;">Delete Access</mat-header-cell>
                                            <mat-cell *matCellDef="let leftpanel" [style.background-color]="leftpanel.is_parent === 'Y' ? '#90e0ef' : 'd0efff' && leftpanel.is_child === 'Y' ? '#caf0f8' : 'd0efff'">
                                                <div id='list'>
                                                    <label [style.margin-left.px]="15">No</label>
                                                    <label class="switchDelete">
                                <input type="checkbox" name="delete{{leftpanel.id}}" (change)="delete(leftpanel,$event)">
                                <span class="slider"></span>
                              </label>
                                                    <label>Yes</label>
                                                </div>
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayColumn"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayColumn;" matRipple></mat-row>
                                    </mat-table>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="body" style="text-align: center">
                                <div class="button-demo">
                                    <button class="btn btn-primary mr5" type="submit" id="submit" name="submit" value="Submit">{{BTN_VAL}}</button>
                                    <a mat-raised-button onclick="location.reload(true);" class="btn btn-danger">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="list_form">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="dt-buttons btn-group flex-wrap">
                                        <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="example1" type="button" (click)="export_isp_usrs()">
                            <span>Excel</span>
                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: right;">
                                    <mat-form-field appearance="fill">
                                        <mat-label>
                                            <em class="fa fa-search" aria-hidden="true"></em> Search
                                        </mat-label>
                                        <input matInput (keyup)='tbl_FilterDatatable($event.target.value)'>
                                    </mat-form-field>
                                </div>
                            </div>

                            <mat-table #table [dataSource]="AssignScreenMasterData" matSort class="mat-cell">
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef style="color: white;">Actions</mat-header-cell>
                                    <mat-cell *matCellDef="let row;">
                                        <span *ngFor="let item of sidebardata">
                                            <button *ngIf="item.read_access=='Y'" class="btn tblActnBtn h-auto" data-toggle="modal" data-target="#editModal" (click)="viewAllMasterData(row)">
                                                <em class="material-icons">visibility</em>
                                            </button>
                                            <button *ngIf="item.write_access=='Y'" class="btn tblActnBtn h-auto" data-toggle="modal" data-target="#editModal" (click)="edit_ScreenToRole(row)">
                                                <em class="material-icons">mode_edit</em>
                                            </button>
                                        </span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="company_name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Company</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.company_name}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="role_name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Role</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.role_name}}</mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayColumns" style="background-color:#666666;"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayColumns;" [style.cursor]="'pointer'" matRipple>
                                </mat-row>
                            </mat-table>
                            <mat-paginator #AssignScreenMasterPaginator="matPaginator" [pageSizeOptions]="[ 10, 15, 20]" [showFirstLastButtons]="true">
                            </mat-paginator>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>