<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="new_entry_title">
                                <div class="header">
                                    <h2>
                                        <strong>Define API New</strong>
                                    </h2>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="btn_list" style="text-align: right;">
                                <div class="header">
                                    <h2>
                                        <button class="btn btn-primary btn-rounded waves-effect" type="button" (click)="showList();"><em class="fa fa-calendar"></em> List of Define API</button>
                                    </h2>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="list_title">
                                <div class="header">
                                    <h2>
                                        <strong>List of Define API</strong>
                                    </h2>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="btn_new_entry" style="text-align: right;">
                                <div class="header" *ngFor="let sidebar of sidebardata">
                                    <h2 *ngIf="sidebar.write_access=='Y'"> 
                                        <button class="btn btn-primary btn-rounded waves-effect" type="button" (click)="showNewEntry();"><em class="fa  fa-plus"></em>Add New Define API</button>
                                    </h2>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>


        <!-- Form -->
        <div id="new_entry_form">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                    
                    <div class="card">
                        <div class="body">
                            <form [formGroup]="defineApiHubForm" (ngSubmit)="onSubmit()">
                                <div class="row clearfix">
                                    <input type="hidden" formControlName="id" id="id" [value]="" class="form-control" />

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                        <div class="form-group">
                                            <mat-label>Name of API<em style="color: red;">*</em></mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline">                                                
                                                <input matInput type="text" formControlName="name" id="nameOfAPI" placeholder="Name of API"/>
                                                <mat-error *ngIf="defineApiHubForm.controls['name'].hasError('required')">Name of API is required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                        <div class="form-group">
                                            <mat-label>Company<em style="color: red;">*</em></mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline">                                                                                               
                                                <mat-select formControlName="tenant_id" placeholder="Company" [disabled]="disableBiller" >
                                                    <mat-option [value]="">Select Company</mat-option>
                                                    <mat-option [value]="data.id" *ngFor="let data of companyData">{{data.company_name}}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="defineApiHubForm.controls['tenant_id'].hasError('required')">Company is required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                   
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                        <div class="form-group">
                                            <mat-label>Type of Request<em style="color: red;">*</em></mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline">  
                                                <mat-select formControlName="request_type_ref_id" placeholder="Type of Request">
                                                    <mat-option [value]="">Select Type of Request</mat-option>
                                                    <mat-option [value]="data.id" *ngFor="let data of typeOfRequests">{{data.master_key}}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="defineApiHubForm.controls['request_type_ref_id'].hasError('required')">Type of Request is required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>                                 

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                        <div class="form-group">
                                            <mat-label>From Date<em style="color: red;">*</em></mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline">                                            
                                                <input matInput type="date" class="form-control" placeholder="From Date" id="from_date" [min]="todayDate" readonly formControlName="from_date" 
                                                   [ngClass]="{ 'is-invalid': submitted && f.from_date.errors }">
                                                <mat-error *ngIf="defineApiHubForm.controls['from_date'].hasError('required')">Please enter From Date</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">  
                                        <div class="form-group">  
                                            <mat-label>To Date</mat-label>                                  
                                            <mat-form-field class="example-full-width" appearance="outline">                                                
                                                <input matInput type="date" class="form-control" id="to_date" readonly formControlName="to_date" 
                                                [ngClass]="{ 'is-invalid': submitted && f.to_date.errors }">
                                            </mat-form-field>  
                                        </div>                                      
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                        <div class="form-group">  
                                            <mat-label>Revision Status (Effective/Future)<em style="color: red;">*</em></mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline">                                            
                                                <input matInput readonly type="text" formControlName="revision_status" placeholder="Revision Status">
                                                <mat-error *ngIf="defineApiHubForm.controls['revision_status'].hasError('required')">Revision Status is required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                        <div class="form-group">
                                            <mat-label>Token API Request Type<em style="color: red;">*</em></mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline"> 
                                                <mat-select formControlName="token_request_ref_id" placeholder="API Request Type">
                                                    <mat-option [value]="">Select Type of Request</mat-option>
                                                    <mat-option [value]="data.id" *ngFor="let data of apiRequests">{{data.master_key}}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="defineApiHubForm.controls['token_request_ref_id'].hasError('required')">Type of Request is required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>  

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                        <div class="form-group">
                                            <mat-label>Token API URL<em style="color: red;">*</em></mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline">                                                
                                                <input matInput type="text" formControlName="access_token_url" placeholder="Token URL">
                                                <mat-error *ngIf="defineApiHubForm.controls['access_token_url'].hasError('required')">Token URL is required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                        <div class="form-group">
                                            <mat-label>Agent Id<em style="color: red;">*</em></mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline">                                                
                                                <input matInput type="text" formControlName="agent_id" placeholder="Agent Id">
                                                <mat-error *ngIf="defineApiHubForm.controls['agent_id'].hasError('required')">Agent Id is required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                        <div class="form-group">
                                            <mat-label>Agent keyword<em style="color: red;">*</em></mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline">                                               
                                                <input matInput type="text" formControlName="agent_keyword" placeholder="Agent keyword">
                                                <mat-error *ngIf="defineApiHubForm.controls['agent_keyword'].hasError('required')">Agent keyword is required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                        <div class="form-group">
                                            <mat-label>End Point API Request Type<em style="color: red;">*</em></mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline"> 
                                                <mat-select formControlName="end_point_request_ref_id" placeholder="API Request Type">
                                                    <mat-option [value]="">Select Type of Request</mat-option>
                                                    <mat-option [value]="data.id" *ngFor="let data of apiRequests">{{data.master_key}}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="defineApiHubForm.controls['end_point_request_ref_id'].hasError('required')">End Point URL is required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>  

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                        <div class="form-group">
                                            <mat-label>End Point API URL<em style="color: red;">*</em></mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline">                                                
                                                <input matInput type="text" formControlName="end_point_url" placeholder="End Point URL">
                                                <mat-error *ngIf="defineApiHubForm.controls['end_point_url'].hasError('required')">End Point is required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                        <div class="form-group">
                                            <mat-label>TimeOut<em style="color: red;">*</em></mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline">                                                
                                                <input matInput type="text" formControlName="time_out" placeholder="TimeOut">
                                                <mat-error *ngIf="defineApiHubForm.controls['time_out'].hasError('required')">TimeOut is required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                </div>
                                

                                <h5 style="text-align: center;"><strong>Define API REQUEST</strong>
                                    <hr style="border: 1px solid;color:#0f4f8e;">
                                </h5><br>

                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="body">
                                                <div class="table-responsive" formArrayName="api_definition_details">
                                                    <table id="tableExport" aria-describedby="" class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align:center">Action</th>
                                                                <th style="text-align:center">Sr. No</th>
                                                                <th style="text-align:center">API Field Name</th>
                                                                <th style="text-align:center">Data Type</th>
                                                                <th style="text-align:center">Length</th>
                                                                <th style="text-align:center">Table Name</th>
                                                                <th style="text-align:center">Field Name</th>
                                                                <th style="text-align:center">Field Type</th>
                                                                <th style="text-align:center">Field Length</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="main_tbody">
                                                            <tr *ngFor="let dynamic of defineApiHubForm.controls.api_definition_details['controls']; let i = index" [formGroupName]="i">

                                                                <td>
                                                                    <ng-container *ngIf="i==0">
                                                                <td>
                                                                    <button type="button" class="btn btn-primary btn-rounded waves-effect" (click)="addNewformArrdDefinitionDetails()">+</button>
                                                                </td>
                                                                </ng-container>
                                                                <ng-container *ngIf="i>0">
                                                                    <td>
                                                                        <button type="button" class="btn btn-danger btn-rounded waves-effect"(click)="deleteDefinitionDetails(i)">-</button>
                                                                    </td>
                                                                </ng-container>
                                                                </td>

                                                                <td class="col_input">
                                                                    <input readonly placeholder="{{i+1}}" class="form-control" type="text" value="{{i + 1}}" />
                                                                </td>

                                                                <td class="col_input">
                                                                    <input class="form-control" type="text" id="api_field_name{{i+1}}" formControlName="api_field_name">
                                                                </td>

                                                                <td class="col_input">
                                                                    <select class="form-control" id="api_field_data_type_ref_id{{i+1}}" formControlName="api_field_data_type_ref_id">
                                                                        <option value="">Select Data Type</option>
                                                                        <option [value]="data.id" *ngFor="let data of typeOfFields">{{data.master_key}}</option>
                                                                    </select>
                                                                </td>

                                                                <td class="col_input">
                                                                    <input class="form-control" type="text" id="api_field_length{{i+1}}" formControlName="api_field_length">
                                                                </td>

                                                                <td class="col_input">
                                                                    <input class="form-control" type="text" id="table_name{{i+1}}" formControlName="table_name">
                                                                </td>

                                                                <td class="col_input">
                                                                    <input class="form-control" type="text" id="field_name{{i+1}}" formControlName="field_name">
                                                                </td>

                                                                <td class="col_input">
                                                                    <select class="form-control" id="field_data_type_ref_id{{i+1}}" formControlName="field_data_type_ref_id">
                                                                        <option value="">Select Field Type</option>
                                                                        <option [value]="data.id" *ngFor="let data of typeOfFields">{{data.master_key}}</option>
                                                                    </select>
                                                                </td>
                                                                <td class="col_input">
                                                                    <input class="form-control" type="text" id="field_length{{i+1}}" formControlName="field_length">
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                           
                            
                                <h5 style="text-align: center;"><strong>Define API RESPONSE</strong>
                                    <hr style="border: 1px solid;color:#0f4f8e;">
                                </h5><br>

                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="body">
                                                <div class="table-responsive" formArrayName="api_definition_sub_details">
                                                    <table id="tableExport1" aria-describedby="" class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align:center">Action</th>
                                                                <th style="text-align:center">Sr. No</th>
                                                                <th style="text-align:center">Parameter Name</th>
                                                                <th style="text-align:center">Parameter Data Type</th>
                                                                <th style="text-align:center">Parameter Length</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="main_tbody">
                                                            <tr *ngFor="let dynamic of defineApiHubForm.controls.api_definition_sub_details['controls']; let i = index" [formGroupName]="i">
                                                                <td>
                                                                    <ng-container *ngIf="i==0">
                                                                <td>
                                                                    <button type="button" class="btn btn-primary btn-rounded waves-effect" (click)="addDefinitionSubDetails()">+</button>
                                                                </td>
                                                                </ng-container>
                                                                <ng-container *ngIf="i>0">
                                                                    <td>
                                                                        <button type="button" class="btn btn-danger btn-rounded waves-effect"(click)="deleteDefinitionSubDetails(i)">-</button>
                                                                    </td>
                                                                </ng-container>
                                                                </td>
                                                                <td class="col_input">
                                                                    <input readonly placeholder="{{i + 1}}" class="form-control" type="text" value="{{i + 1}}" />
                                                                </td>
                                                                <td class="col_input">
                                                                    <input class="form-control" type="text" id="parameter_name{{i+1}}" formControlName="parameter_name">
                                                                </td>

                                                                <td class="col_input">
                                                                    <select class="form-control" id="parameter_data_type_ref_id{{i+1}}" formControlName="parameter_data_type_ref_id">
                                                                        <option value="">Select Data Type</option>
                                                                        <option [value]="data.id" *ngFor="let data of typeOfFields">{{data.master_key}}</option>
                                                                    </select>
                                                                </td>

                                                                <td class="col_input">
                                                                    <input class="form-control" type="text" id="parameter_length{{i+1}}" formControlName="parameter_length">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="body" style="text-align: center;">
                                        <div class="button-demo">
                                            <button type="submit" id="submit_btn" [disabled]="!defineApiHubForm.valid" 
                                                class="btn btn-primary btn-border-radius waves-effect">{{btnValue}}
                                                <em class="fa fa-spinner fa-spin" *ngIf="showLoader"></em>
                                            </button>
                                            <a onclick="location.reload(true);" class="btn btn-danger">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        
        <div id="list_form">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <div class="table-responsive">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="dt-buttons btn-group flex-wrap">
                                            <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="example1" >
                                            <span>Excel</span>
                                        </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: right;">
                                        <mat-form-field appearance="fill">
                                            <mat-label>
                                                <em class="fa fa-search" aria-hidden="true"></em> Search
                                            </mat-label>
                                            <input matInput (keyup)='tbl_FilterDatatable($event.target.value)'>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <mat-table #table [dataSource]="ApiHubMasterData" matSort class="mat-cell">
                                    <ng-container matColumnDef="actions">
                                        <mat-header-cell *matHeaderCellDef style="color: white;">Actions</mat-header-cell>
                                        <mat-cell *matCellDef="let row;">
                                            <span *ngFor="let sidebar of sidebardata">

                                                <button *ngIf="sidebar.read_access=='Y'" class="btn tblActnBtn h-auto" data-toggle="modal" data-target="#editModal" (click)="viewAllMasterData(row)">
                                                <em class="material-icons">visibility</em>
                                                </button>

                                                <button *ngIf="sidebar.write_access=='Y' " class="btn tblActnBtn h-auto" data-toggle="modal" (click)=createVersion(row)
                                                data-target="#editModal" id="version_button">
                                               <em class="material-icons">source</em>
                                                </button>                                             
                                                
                                            </span>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="name">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Name of API</mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="company_name">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Biller Name</mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.company_name}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="from_date">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">From Date</mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.from_date}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="to_date">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">To Date</mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.to_date}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="revision_status">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Status</mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.revision_status}}</mat-cell>
                                    </ng-container>
                                   
                                    <mat-header-row *matHeaderRowDef="displayColumns" style="background-color:#666666;"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayColumns;" [style.cursor]="'pointer'" matRipple>
                                    </mat-row>
                                </mat-table>
                                <mat-paginator #ApiHubMasterPaginator="matPaginator" [pageSizeOptions]="[ 10, 15, 20]" [showFirstLastButtons]="true">
                                </mat-paginator>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>