<section class="content">
    <app-screen-header  [screenName]="screenName" (showFormList)="showFormList($event)" [showList]="showList" [sidebarData]="sidebarData"></app-screen-header>
    <app-biller-invoice-details  
        *ngIf="listDiv === true" 
        [rowData]="rowData" 
        (onSave)="onSave($event)"
        [editFlag]="editFlag"
        (onCancel)="onCancel($event)"
        [submitBtn]="submitBtn"
        [billerData]="billerData"
        [showLoader]="showLoader">
    </app-biller-invoice-details>

    <div class="row clearfix" [hidden]="listDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <div class="table-responsive" >
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="example1" type="button" (click)="export_to_excel();">
                                    <span>Excel</span>
                                </button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: right;">
                                <mat-form-field appearance="fill">
                                    <mat-label>
                                    <em class="fa fa-search" aria-hidden="true"></em>
                                    Search
                                    </mat-label>
                                    <input matInput (keyup)='tbl_FilterDatatable($event.target.value)'>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" id="excel-table">
                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef style="color: white;">Actions</mat-header-cell>
                                <mat-cell *matCellDef="let row;">
                                    <span *ngFor="let item of sidebarData">
                                        <button *ngIf="item.read_access=='Y'" class="btn tblActnBtn h-auto" (click)="editViewRecord(row,'view')">
                                            <em class="material-icons">visibility</em>
                                        </button>
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="invoice_tenant_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Biller</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.invoice_tenant_id}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="transaction_date">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Invoice Date</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.transaction_date}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="period">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Period</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.period}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="fiscal_year">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Fiscal Year</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.fiscal_year}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="invoice_ref_no">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Invoice Number</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.invoice_ref_no}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="currency_ref_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Transaction Currency</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.currency_ref_id}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="conversion_rate">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Conversion Rate</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.conversion_rate}}</mat-cell>
                            </ng-container>                                   

                            <ng-container matColumnDef="remark">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Remark</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.remark}}</mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayColumns" style="background-color:#666666;"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayColumns;" [style.cursor]="'pointer'" matRipple></mat-row>

                        </mat-table>    
                        <mat-paginator #dataSourcePaginator="matPaginator" [pageSizeOptions]="[ 10, 15, 20]" [showFirstLastButtons]="true">
                        </mat-paginator>        
                    </div>
                </div>
            </div>
        </div>
    </div>          
</section>
