<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="allmasterForm" (ngSubmit)="onSubmit()">
            <div class="card">
                <div class="body">
                    <div class="row clearfix">
                        <input type="hidden" formControlName="id" id="id" value="[id]" class="form-control">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label> Master Type <em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput formControlName="master_type" placeholder="Master Type" required>
                                    <mat-error *ngIf="allmasterForm.controls['master_type'].hasError('required')">This
                                        field is mandatory.</mat-error>
                                    <mat-error *ngIf="allmasterForm.controls['master_type'].hasError('pattern')">
                                        Character(s) are not allowed.</mat-error>
                                    <mat-error *ngIf="allmasterForm.controls['master_type'].hasError('maxlength')">
                                        Maximum 10 characters.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label> Master Value<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput formControlName="master_value" placeholder="Master Value" required>
                                    <mat-error *ngIf="allmasterForm.controls['master_value'].hasError('required')">This
                                        field is mandatory.</mat-error>
                                    <mat-error *ngIf="allmasterForm.controls['master_value'].hasError('pattern')">
                                        Character(s) are not allowed.</mat-error>
                                    <mat-error *ngIf="allmasterForm.controls['master_value'].hasError('maxlength')">
                                        Maximum 10 characters.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label Optional> Master Key<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput formControlName="master_key" placeholder="Master Key" required>
                                    <mat-error *ngIf="allmasterForm.controls['master_key'].hasError('required')">This
                                        field is mandatory.</mat-error>
                                    <mat-error *ngIf="allmasterForm.controls['master_key'].hasError('pattern')">
                                        Character(s) are not allowed.</mat-error>
                                    <mat-error *ngIf="allmasterForm.controls['master_key'].hasError('maxlength')">
                                        Maximum 10 characters.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="body" style="text-align: center;">
                    <div class="button-demo">
                        <button class="btn btn-primary mr5" type="submit" *ngIf="submitBtn" [disabled]="showLoader"
                            name="submit" value="Submit">{{btnVal}}
                            <em class="fa fa-spinner fa-spin" *ngIf="showLoader"></em>
                        </button>
                        <button class="btn btn-danger" type="button" (click)="onCancelForm()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>