<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="new_entry_title">
                            <div class="header">
                                <h2>
                                    <strong>UOM</strong>
                                </h2>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="btn_list" style="text-align: right;">
                            <div class="header">
                                <h2>
                                    <button class="btn btn-primary btn-rounded waves-effect" type="button" (click)="showList();"><em class="fa fa-calendar"></em>List of UOM</button>
                                </h2>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="list_title">
                            <div class="header">
                                <h2>
                                    <strong>List of UOM</strong>
                                </h2>
                            </div>
                        </div>



                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="btn_new_entry" style="text-align: right;">
                            <div class="header" *ngFor="let sidebar of sidebardata">
                                <h2 *ngIf="sidebar.write_access=='Y'">
                                    <button class="btn btn-primary btn-rounded waves-effect" type="button" (click)="showNewEntry();"><em class="fa  fa-plus"></em>Add New UOM</button>
                                </h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="new_entry_form">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">   
                    <form [formGroup]="uomForm" (ngSubmit)="onSubmit()">                
                        <div class="card">
                            <div class="body">                            
                                <div class="row clearfix">
                                    <input type="hidden" formControlName="ID" id="ID" value="[ID]" class="form-control" />
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <mat-label>UOM Code<em style="color: red;">*</em></mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <input matInput formControlName="uom_code" placeholder="UOM Code" />
                                                <mat-error *ngIf="f.uom_code.hasError('required')">UOM Code is mandatory.</mat-error>
                                                <mat-error *ngIf="f.uom_code.hasError('pattern')">Character(s) are not allowed.</mat-error>
                                                <mat-error *ngIf="f.uom_code.hasError('maxlength')">Maximum 20 characters.</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <mat-label>UOM Description<em style="color: red;">*</em></mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <input matInput formControlName="uom_description" placeholder="UOM Description" />
                                                <mat-error *ngIf="uomForm.controls['uom_description'].hasError('required')">UOM Description is mandatory.</mat-error>
                                                <mat-error *ngIf="uomForm.controls['uom_description'].hasError('pattern')">Character(s) are not allowed.</mat-error>
                                                <mat-error *ngIf="uomForm.controls['uom_description'].hasError('maxlength')">Maximum 30 characters.</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                              
                                <div class="card">
                                    <div class="body" style="text-align: center;">
                                        <div class="button-demo">
                                            <button type="submit" id="submit_btn" class="btn btn-primary btn-border-radius waves-effect">{{BTN_VAL}}</button>
                                            <button type="button" class="btn btn-danger btn-border-radius waves-effect" onclick="location.reload(true);">Cancel</button>                                    
                                        </div>
                                    </div>
                                </div>                          
                           
                    </form>                 
                </div>
            </div>
        </div>


        <div id="list_form">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <div class="table-responsive">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="dt-buttons btn-group flex-wrap">
                                            <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="example1" type="button" (click)="export_isp_usrs()">
                                  <span>Excel</span>
                              </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: right;">
                                        <mat-form-field appearance="fill">
                                            <mat-label>
                                                <em class="fa fa-search" aria-hidden="true"></em> Search
                                            </mat-label>
                                            <input matInput (keyup)='tbl_FilterDatatable($event.target.value)'>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <mat-table #table [dataSource]="UOMMMasterData" matSort class="mat-cell">
                                    <ng-container matColumnDef="actions">
                                        <mat-header-cell *matHeaderCellDef style="color: white;">Actions</mat-header-cell>
                                        <mat-cell *matCellDef="let row;">
                                            <span *ngFor="let sidebar of sidebardata">
                                                <button *ngIf="sidebar.read_access=='Y'" class="btn tblActnBtn h-auto" data-toggle="modal" data-target="#editModal" (click)="viewAllMasterData(row)">
                                                <em class="material-icons">visibility</em>
                                                </button>
                                               
                                                <button  *ngIf="sidebar.write_access=='Y'"  class="btn tblActnBtn h-auto" data-toggle="modal" data-target="#editModal" (click)="editUomData(row)">
                                                <em class="material-icons">mode_edit</em>
                                                </button>
                                               
                                                <button *ngIf="sidebar.delete_access=='Y'" class="btn tblActnBtn h-auto" (click)="deleteUomData(row.id)">
                                                    <em class="material-icons">delete</em>
                                                </button>
                                            </span>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="uom_code">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">UOM Code</mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.uom_code}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="uom_description">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">UOM Description</mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.uom_description}}</mat-cell>
                                    </ng-container>


                                    <mat-header-row *matHeaderRowDef="displayColumns" style="background-color:#666666;"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayColumns;" [style.cursor]="'pointer'" matRipple>
                                    </mat-row>
                                </mat-table>
                                <mat-paginator #UOMMasterPaginator="matPaginator" [pageSizeOptions]="[ 10, 15, 20]" [showFirstLastButtons]="true">
                                </mat-paginator>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>