<div id="overlay">
    <div id="text">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="list_title">
                                <div class="header">
                                    <h2>
                                        <strong>Upload Bill Data </strong>
                                    </h2>
                                </div>
                            </div>                            
                        </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form [formGroup]= "upload_dataForm" (ngSubmit)="onSubmit()">
                        <div class="card">
                            <div class="body">
                                <div class="row clearfix">
                                    <input type="hidden" formControlName="id" id="id" value="[id]" class="form-control">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <mat-label>Biller Name</mat-label>
                                        <mat-form-field class="example-full-width" appearance="outline">                                            
                                            <input readonly matInput type="text" formControlName= "company_name">
                                        </mat-form-field>
                                    </div>
                                   
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <mat-label>File Type</mat-label>
                                        <mat-form-field class="example-full-width" appearance="outline">                                            
                                            <input readonly matInput type="text" formControlName= "file_type_ref_id">
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <mat-label>Server Name</mat-label>
                                        <mat-form-field class="example-full-width" appearance="outline">                                            
                                            <input readonly matInput type="text" formControlName= "server_name">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="body" style="text-align: center;">
                                <div class="button-demo">
                                    <label for="upload"  id="chooseFile" class="btn btn-primary btn-border-radius waves-effect">Choose File</label>
                                    <input type="file" (change)="uploadFile($event)" id="upload" hidden/>    
                                    <button type="submit" id="submit" class="btn btn-primary btn-border-radius waves-effect" >Upload</button>
                                    <button type="button" class="btn btn-danger btn-border-radius waves-effect" onclick="location.reload(true);">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>      

    </div>
</section>