<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="definePartnerForm" (ngSubmit)="onSubmit()">
            <div class="card">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <mat-label>Partner Name<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput type="text" formControlName="company_name" placeholder="Enter Partner Name" required>
                                    <mat-error *ngIf="definePartnerForm.controls['company_name'].hasError('required')">Partner Name is mandatory.</mat-error>
                                    <mat-error *ngIf="definePartnerForm.controls['company_name'].hasError('pattern')">Character(s) are not allowed.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <mat-label>Partner Short Name<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput type="text" formControlName="company_shortname" placeholder="Enter Short Partner Name" required>
                                    <mat-error *ngIf="definePartnerForm.controls['company_shortname'].hasError('required')">Partner Name is mandatory.</mat-error>
                                    <mat-error *ngIf="definePartnerForm.controls['company_shortname'].hasError('pattern')">Character(s) are not allowed.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>BBPOU Bank<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-select formControlName="bbpou_bank_ref_id" >
                                        <mat-option value="">Select Bank</mat-option>
                                        <mat-option *ngFor="let data of BBPOUBankData" [value]="data.id">{{data.bbpou_bank_name}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="definePartnerForm.get('bbpou_bank_name')">Bank Name is required!</mat-error>
                                </mat-form-field>
                              </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <mat-label>Address 1<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput type="text" formControlName="address1" placeholder="Enter Short Address" required>
                                    <mat-error *ngIf="definePartnerForm.controls['address1'].hasError('required')">Company Name is Address.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <mat-label>Address 2</mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput type="text" formControlName="address2" placeholder="Enter Short Address">
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Country<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-select formControlName="country_ref_id" >
                                        <mat-option value="">Select Country</mat-option>
                                        <mat-option *ngFor="let data of countrydata" [value]="data.id">{{data.name}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="definePartnerForm.get('country_ref_id')">Please Select Country</mat-error>
                                </mat-form-field>
                              </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>State<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-select formControlName="state_ref_id" >
                                        <mat-option value="">Select State</mat-option>
                                        <mat-option *ngFor="let data of statedata" [value]="data.id">{{data.state}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="definePartnerForm.get('state_ref_id')">Please Select State</mat-error>
                                </mat-form-field>
                              </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>City<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-select formControlName="city_ref_id" >
                                        <mat-option value="">Select City</mat-option>
                                        <mat-option *ngFor="let data of citydata" [value]="data.id">{{data.city_name}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="definePartnerForm.get('city_ref_id')">Please Select City </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Ownership Status<em style="color: red;">*</em></mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-select formControlName="ownership_status_ref_id" required>
                                    <mat-option value="">Select Ownership</mat-option>
                                    <mat-option *ngFor="let status of ownershipStatusData" [value]="status.id">{{ status.master_key }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="definePartnerForm.controls['ownership_status_ref_id'].hasError('required')">Ownership Status is mandatory.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Pincode<em style="color: red;">*</em></mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput type="text" formControlName="pincode" placeholder="Enter Pincode" required>
                                <mat-error *ngIf="definePartnerForm.controls['pincode'].hasError('required')">Pincode is mandatory.</mat-error>
                                <mat-error *ngIf="definePartnerForm.controls['pincode'].hasError('pattern')">Character(s) are not allowed.</mat-error>
                                <mat-error *ngIf="definePartnerForm.controls['pincode'].hasError('maxlength')">Maximum 8 Numbers only.</mat-error>
                            </mat-form-field>
                        </div>


                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>PAN <em *ngIf="!isAdharExist" style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput type="text" formControlName="pan" placeholder="Enter PAN">
                                <mat-error *ngIf="definePartnerForm.controls['pan'].hasError('required')">PAN is mandatory.</mat-error>
                                <mat-error *ngIf="definePartnerForm.controls['pan'].hasError('pattern')">Invalid PAN.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Aadhaar</mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput type="text" formControlName="adhar" placeholder="Enter Adhaar">
                                <mat-error *ngIf="definePartnerForm.controls['adhar'].hasError('pattern')">Invalid Adhaar.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>TAN</mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput type="text" formControlName="tan" placeholder="Enter TAN" >
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>GST</mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput type="text" formControlName="gst" placeholder="Enter GST" >
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>CIN</mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput type="text" formControlName="cin" placeholder="Enter CIN" >
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Contact Person Name<em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="contact_person_name" placeholder="Contact Person Name" required>
                                <mat-error *ngIf="definePartnerForm.get('contact_person_name')">Contact Person Name is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Mobile No.<em style="color: red;">*</em> </mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="contact_person_mobile_number" placeholder="Mobile No." required>
                                <mat-error *ngIf="definePartnerForm.controls['contact_person_mobile_number'].hasError('required')">Mobile No is required!</mat-error>
                                <mat-error *ngIf="definePartnerForm.controls['contact_person_mobile_number'].hasError('pattern')">Enter Valid Mobile Number.</mat-error> 
                                <mat-error *ngIf="definePartnerForm.controls['contact_person_mobile_number'].hasError('minlength')">Enter 10 digit Mobile Number.</mat-error>  
                                <mat-error *ngIf="definePartnerForm.controls['contact_person_mobile_number'].hasError('maxlength')">Enter 10 digit Mobile Number.</mat-error>                   
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <mat-label>Email ID<em style="color: red;">*</em></mat-label>
                          <mat-form-field class="example-full-width" appearance="outline">
                              <input matInput type="text" formControlName="email" placeholder="Enter email" required [readonly]="shouldisable">
                          </mat-form-field>
                      </div>
                    </div>    
                </div>
            </div>

            <div class="card">
                <div class="body">
                    <h3 style="text-align: center;"><strong>Partner Contact Details</strong></h3><br>
                    
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="body">
                                    <div class="body table-responsive" formArrayName="initialItemRow">
                                        <table aria-describedby="" class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Action</th>
                                                    <th style="text-align:center">Contact Person Name</th>
                                                    <th style="text-align:center">Designation</th>
                                                    <th style="text-align:center">Contact Person Mobile No</th>
                                                    <th style="text-align:center">Email Id</th>
                                                </tr>
                                            </thead>
                                            <tbody class="main_tbody">
                                                <ng-container>
                                                    <tr *ngFor="let dynamic of definePartnerForm.controls.initialItemRow['controls']; let i = index" [formGroupName]="i">
                                                        <td>
                                                            <ng-container *ngIf="i==0">
                                                                <button type="button"
                                                                    class="btn btn-primary btn-rounded waves-effect"
                                                                    (click)="addNewRow()">+
                                                                </button>
                                                            </ng-container>
                                                            <ng-container *ngIf="i>0">
                                                                <button type="button"
                                                                    class="btn btn-danger btn-rounded waves-effect"
                                                                    (click)="deleteRow(i)">-
                                                                </button>
                                                            </ng-container>
                                                        </td>
                                                        <td class="col_input">
                                                            <input class="form-control" type="text"
                                                            id="contact_person_name{{i+1}}" placeholder="Enter Contact Name"
                                                            formControlName="contact_person_name">
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="text"
                                                            id="designation{{i+1}}" placeholder="Enter Designation"
                                                            formControlName="designation">
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="text"
                                                            id="contact_person_mobile_number{{i+1}}" placeholder="Enter Mobile Number"
                                                            formControlName="contact_person_mobile_number">
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="text"
                                                            id="email{{i+1}}" placeholder="Enter Email"
                                                            formControlName="email">
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>                
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="body" style="text-align: center;">
                    <div class="button-demo">
                        <button class="btn btn-primary mr5" type="submit" *ngIf="submitBtn" [disabled]="showLoader"
                            name="submit" value="Submit" [disabled]="definePartnerForm.invalid">{{btnVal}}
                            <em class="fa fa-spinner fa-spin" *ngIf="showLoader"></em>
                        </button>
                        <button class="btn btn-danger" type="button" (click)="onCancelForm()">Cancel</button>
                    </div>
                </div>
            </div>   
        </form>
    </div>
</div>                    
