<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-4">
      <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>
                <div class="text-center">
                  <div>
                    <a routerLink="" class="logo-full"><img src="assets/images/rhythmflows_logo.png" alt="logo-full"></a>
                  </div>

                  <h4 class="font-20 mt-4">LicenseKey</h4>
                  <p class="text-muted">Enter valid LicenseKey to unlock the Application.</p>
                </div>
                <div class="p-2 mt-5">
                  <form [formGroup]="licenseForm" (ngSubmit)="onSubmit()">
                    <div *ngIf="error" class="alert alert-danger mb-3 mt-0">{{error}}</div>
                    <div class="form-group auth-form-group mb-4">
                      <mat-label>LicenseKey</mat-label>
                      <mat-form-field class="example-full-width" appearance="outline">                          
                        <textarea matInput formControlName="licensekey" id="licensekey" placeholder="LicenseKey" required></textarea>
                        <mat-icon matSuffix>vpn_key</mat-icon>
                        <mat-error *ngIf="licenseForm.get('licensekey').hasError('required')">
                          LicenseKey is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="container-login100-form-btn">
                      <button mat-flat-button color="primary" class="login100-form-btn" type="submit">
                        Validate
                      </button>
                    </div>

                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="auth-bg">
        <div class="bg-overlay"></div>
      </div>
    </div>
  </div>
</div>
