<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="list_title">
                        <div class="header">
                            <h2>
                                <strong>Biller Transaction Report</strong>
                            </h2>
                        </div>
                    </div>
                      </div>
                </div>
            </div>
        </div>
        <div id="new_entry_form">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form [formGroup]="reportForm" (ngSubmit)="onSubmit()">
                        <div class="card">
                            <div class="body">
                                <div class="row clearfix">

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="!isBillerLogin">
                                        <div class="form-group">
                                            <mat-label>Biller</mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline">                                                
                                                <mat-select formControlName="biller_name" required>
                                                    <mat-option>
                                                        <ngx-mat-select-search [formControl]="getCompanytoSearch"
                                                            placeholderLabel="Find Company..."
                                                            noEntriesFoundLabel="Company Not found">
                                                        </ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option value="" >Select Biller</mat-option>
                                                    <mat-option [value]="0" >All Billers</mat-option>
                                                    <mat-option [value]="data.id" *ngFor="let data of billerData|searchBiller:BillerNameValue">
                                                        {{data.company_name}}
                                                    </mat-option>
                                                </mat-select>                                                
                                                <mat-error *ngIf="reportForm.controls['biller_name'].hasError('required')">Biller is Required</mat-error>
                                            </mat-form-field>
                                        </div>    
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                                        <div class="form-group">
                                            <mat-label>From Date</mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline">   
                                                <input matInput [matDatepicker]="from_date" (click)="from_date.open()"  id="from_date" [max]="todayDate"
                                                [(ngModel)]="todayDate"  formControlName="from_date">
                                                <mat-datepicker-toggle matSuffix [for]="from_date"></mat-datepicker-toggle>
                                                <mat-datepicker #from_date></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                                        <div class="form-group">
                                            <mat-label>To Date</mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline">   
                                                <input matInput [matDatepicker]="to_date" (click)="to_date.open()"  id="to_date" [max]="todayDate1"
                                                [(ngModel)]="todayDate2"  formControlName="to_date">
                                                <mat-datepicker-toggle matSuffix [for]="to_date"  ></mat-datepicker-toggle>
                                                <mat-datepicker #to_date></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                                        <div class="form-group">
                                            <mat-label>Status</mat-label>
                                            <mat-form-field class="example-full-width" appearance="outline">                                            
                                                <mat-select formControlName="status" >
                                                    <mat-option value="">Select Status</mat-option>
                                                    <mat-option [value]="data.master_key" *ngFor="let data of statusData">{{data.master_key}}</mat-option>
                                                </mat-select>    
                                                <mat-error *ngIf="reportForm.controls['status'].hasError('required')">Status is Required</mat-error>                                        
                                            </mat-form-field>
                                        </div>
                                    </div>
                                   
                                </div>  
                            </div>
                        </div>

                        <div class="card">
                            <div class="body" style="text-align: center;">
                                <div class="button-demo">
                                    <button type="submit"  id="submitButton"
                                        class="btn btn-primary btn-border-radius waves-effect" [disabled]="reportForm.invalid">{{btnValue}}</button>
                                    <button type="button" class="btn btn-danger btn-border-radius waves-effect" onclick="location.reload(true);">Cancel</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
