<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <form [formGroup]="billerInvoiceForm" (ngSubmit)="onSubmit()">
                    <div class="row clearfix">

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">    
                                <mat-label>Aggregator<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-select formControlName="parent_tenant_id" required>
                                        <mat-option value="">Select Aggregator</mat-option>
                                        <mat-option [value]="data.id" *ngFor="let data of aggregatorData">
                                            {{data.company_name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="billerInvoiceForm.get('parent_tenant_id')">Biller Name is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">    
                                <mat-label>Biller<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-select formControlName="invoice_tenant_id" (selectionChange)="changedBiller($event.value)" required>
                                        <mat-option value="">Select Biller </mat-option>
                                        <mat-option [value]="data.id" *ngFor="let data of allBillerData">
                                            {{data.company_name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="billerInvoiceForm.get('invoice_tenant_id')">Biller Name is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Period</mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">                                                
                                    <input readonly matInput formControlName="period" placeholder="Period">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Fiscal Year</mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">                                            
                                    <input readonly matInput formControlName="fiscal_year" placeholder="Fiscal Year">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Invoice Number</mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">                                               
                                    <input readonly matInput formControlName="invoice_ref_no" placeholder="Invoice Number">
                                    <mat-error *ngIf="billerInvoiceForm.controls['invoice_ref_no'].hasError('required')">Invoice Number is required</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Currency<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">                                                
                                    <mat-select formControlName="currency_ref_id" placeholder="Transaction Currency">
                                        <mat-option value="">Select Currency</mat-option>
                                        <mat-option [value]="data.id" *ngFor="let data of currencyData">{{data.currency_code}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="billerInvoiceForm.controls['currency_ref_id'].hasError('required')">Transaction Currency is required</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Billing Address<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">                                                
                                    <input matInput formControlName="billing_address" placeholder="Billing Address" >
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Remark<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">                                                
                                    <input matInput formControlName="remark" placeholder="Remark" >
                                    <mat-error *ngIf="billerInvoiceForm.controls['remark'].hasError('required')">Remark is required</mat-error>
                                </mat-form-field>
                            </div>
                        </div>   

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Total Amount</mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">                                               
                                    <input matInput formControlName="total_amount" placeholder="Total Amount" readonly>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="body">
                                        <div class="table-responsive" formArrayName="initialItemRow">
                                            <table id="tableExport" aria-describedby="" class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Total Transaction</th>
                                                        <th style="text-align:center">Total Basic Amount</th>     
                                                        <th style="text-align:center">CGST Amount</th>
                                                        <th style="text-align:center">IGST Amount</th>
                                                        <th style="text-align:center">SGST Amount</th>
                                                        <th style="text-align:center">Total Tax Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="main_tbody" >
                                                    <tr *ngFor="let dynamic of billerInvoiceForm.controls.initialItemRow['controls']; let i = index" [formGroupName]="i">
                                                        <td class="col_input">
                                                            <input class="form-control" type="text" formControlName="total_no_transaction" readonly>
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="text"  formControlName="total_basic_amount" readonly>
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="text"  formControlName="cgst_amount" readonly>
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="text"  formControlName="igst_amount" readonly>
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="text"  formControlName="sgst_amount" readonly>
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="text"  formControlName="total_tax_amount" readonly>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="card">
                        <div class="body" style="text-align: center;">
                            <div class="button-demo">
                                <button type="submit" class="btn btn-primary btn-border-radius waves-effect" id="submitButton" *ngIf="submitBtn" [disabled]="billerInvoiceForm.invalid">{{btnVal}}</button>
                                <a onclick="location.reload(true);" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>  