<div id="new_entry_form">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form [formGroup]="taxRateForm" (ngSubmit)="onSubmit()">
                <div class="card">
                    <div class="body">

                        <div class="row clearfix">
                            <input type="hidden" formControlName="id" id="id" [value]="" class="form-control">

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                                <div class="form-group">
                                    <mat-label>Name<em style="color: red;">*</em></mat-label>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <input matInput formControlName="tax_rate_name" placeholder="Tax Rate Name">
                                        <mat-error
                                            *ngIf="taxRateForm.controls['tax_rate_name'].hasError('required')">Name is
                                            required</mat-error>
                                        <mat-error
                                            *ngIf="taxRateForm.controls['tax_rate_name'].hasError('required')">Character(s)
                                            are not allowed</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                                <div class="form-group">
                                    <mat-label>Tax Authority<em style="color: red;">*</em></mat-label>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-select formControlName="tax_authority_ref_id"
                                            placeholder="Select Tax Authority">
                                            <mat-option [value]="">Select Tax Authority</mat-option>
                                            <mat-option [value]="data.id" *ngFor="let data of taxAuthorityData">
                                                {{data.tax_name}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="taxRateForm.get('tax_authority_ref_id')">Tax Authority is
                                            Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                                <div class="form-group">
                                    <mat-label>Tax Type<em style="color: red;">*</em></mat-label>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-select formControlName="tax_type_ref_id" placeholder="Select Tax Type">
                                            <mat-option [value]="">
                                                Select Tax Type
                                            </mat-option>
                                            <mat-option [value]="data.id" *ngFor="let data of taxTypeData">
                                                {{data.master_key}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="taxRateForm.controls['tax_type_ref_id'].hasError('required')">Tax
                                            Type is Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <h5 style="text-align: center;"><strong>Bank/NBFC with Product</strong>
                            <hr style="border: 1px solid;color:#0f4f8e;">
                        </h5><br>

                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="body">
                                        <div class="table-responsive" formArrayName="initialItemRow">
                                            <table id="tableExport" aria-describedby="" class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Action</th>
                                                        <th style="text-align:center">HSN/SAC Number</th>
                                                        <th style="text-align:center">Description</th>
                                                        <th style="text-align:center">From</th>
                                                        <th style="text-align:center">To</th>
                                                        <th style="text-align:center">Tax Rate</th>
                                                        <th style="text-align:center">CESS</th>
                                                        <th style="text-align:center">RCM Flag</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="main_tbody">
                                                    <tr *ngFor="let dynamic of taxRateForm.controls.initialItemRow['controls']; let i = index"
                                                        [formGroupName]="i">

                                                        <td>
                                                            <ng-container *ngIf="i==0">
                                                        <td>
                                                            <button type="button"
                                                                class="btn btn-primary btn-rounded waves-effect"
                                                                (click)="addNewRow()">+</button>
                                                        </td>
                                                        </ng-container>
                                                        <ng-container *ngIf="i>0">
                                                            <td>
                                                                <button type="button"
                                                                    class="btn btn-danger btn-rounded waves-effect"
                                                                    (click)="deleteRow(i)">-</button>
                                                            </td>
                                                        </ng-container>
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="text" id="hsn_sac_no"
                                                                formControlName="hsn_sac_no"
                                                                placeholder="HSN/SAC Number">
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="text" id="description"
                                                                formControlName="description" placeholder="Description">
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="date" id="from_date"
                                                                formControlName="from_date">
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="date" id="to_date"
                                                                formControlName="to_date">
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="number" id="tax_rate"
                                                                formControlName="tax_rate" placeholder="Tax Rate">
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="number" id="cess"
                                                                formControlName="cess" placeholder="CESS">
                                                        </td>

                                                        <td class="col_input">
                                                            <label>Select RCM Flag</label>
                                                            <br>
                                                            <label class="form-label">No</label>
                                                            <mat-slide-toggle
                                                                formControlName='rcm_flag'>Yes</mat-slide-toggle>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="body" style="text-align: center;">
                        <div class="button-demo">
                            <button class="btn btn-primary mr5" type="submit" *ngIf="submitBtn" [disabled]="showLoader"
                                name="submit" value="Submit">{{btnVal}}
                                <em class="fa fa-spinner fa-spin" *ngIf="showLoader"></em>
                            </button>
                            <button class="btn btn-danger" type="button" (click)="onCancelForm()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>