<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="BBPOUCompanyForm" (ngSubmit)="onSubmit()">
            <div class="card">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <mat-label>Company Name<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput type="text" formControlName="company_name" placeholder="Enter Company Name" required>
                                    <mat-error *ngIf="BBPOUCompanyForm.controls['company_name'].hasError('required')">Company Name is mandatory.</mat-error>
                                    <mat-error *ngIf="BBPOUCompanyForm.controls['company_name'].hasError('pattern')">Character(s) are not allowed.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <mat-label>Company Short Name<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput type="text" formControlName="company_shortname" placeholder="Enter Short Company Name" required>
                                    <mat-error *ngIf="BBPOUCompanyForm.controls['company_shortname'].hasError('required')">Company Name is mandatory.</mat-error>
                                    <mat-error *ngIf="BBPOUCompanyForm.controls['company_shortname'].hasError('pattern')">Character(s) are not allowed.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <mat-label>Address 1<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput type="text" formControlName="address1" placeholder="Enter Short Address" required>
                                    <mat-error *ngIf="BBPOUCompanyForm.controls['address1'].hasError('required')">Company Name is Address.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <mat-label>Address 2<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput type="text" formControlName="address2" placeholder="Enter Short Address" required>
                                    <mat-error *ngIf="BBPOUCompanyForm.controls['address2'].hasError('required')">Company Name is Address.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Country<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-select formControlName="country_ref_id" >
                                        <mat-option value="">Select Country</mat-option>
                                        <mat-option *ngFor="let data of countrydata" [value]="data.id">{{data.name}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="BBPOUCompanyForm.get('country_ref_id')">Please Select Country</mat-error>
                                </mat-form-field>
                              </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>State<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-select formControlName="state_ref_id" >
                                        <mat-option value="">Select State</mat-option>
                                        <mat-option *ngFor="let data of statedata" [value]="data.id">{{data.state}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="BBPOUCompanyForm.get('state_ref_id')">Please Select State</mat-error>
                                </mat-form-field>
                              </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>City<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-select formControlName="city_ref_id" >
                                        <mat-option value="">Select City</mat-option>
                                        <mat-option *ngFor="let data of citydata" [value]="data.id">{{data.city_name}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="BBPOUCompanyForm.get('city_ref_id')">Please Select City </mat-error>
                                </mat-form-field>
                              </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                            <div class="form-group">
                                <mat-label>Settlement Type<em style="color: red;">*</em></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-select formControlName="settlement_type_ref_id" required>
                                        <mat-option value="">Select Type</mat-option>
                                        <mat-option *ngFor="let data of settlement_type" [value]="data.id">{{ data.master_key }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="BBPOUCompanyForm.controls['settlement_type_ref_id'].hasError('required')">Settlement Type is mandatory.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Ownership Status<em style="color: red;">*</em></mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-select formControlName="ownership_status_ref_id" required>
                                    <mat-option value="">Select Ownership</mat-option>
                                    <mat-option *ngFor="let status of ownershipStatusData" [value]="status.id">{{ status.master_key }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="BBPOUCompanyForm.controls['ownership_status_ref_id'].hasError('required')">Ownership Status is mandatory.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Pincode<em style="color: red;">*</em></mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput type="text" formControlName="pincode" placeholder="Enter Pincode" required>
                                <mat-error *ngIf="BBPOUCompanyForm.controls['pincode'].hasError('required')">Pincode is mandatory.</mat-error>
                                <mat-error *ngIf="BBPOUCompanyForm.controls['pincode'].hasError('pattern')">Character(s) are not allowed.</mat-error>
                                <mat-error *ngIf="BBPOUCompanyForm.controls['pincode'].hasError('maxLength')">Maximum 8 characters.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Admin Person Name<em style="color: red;">*</em></mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput type="text" formControlName="contact_person_name" placeholder="Contact Person Name" required>
                                <mat-error *ngIf="BBPOUCompanyForm.controls['contact_person_name'].hasError('required')">Name is mandatory.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Mobile Number<em style="color: red;">*</em></mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput type="text" formControlName="contact_person_mobile_number" placeholder="Enter Mobile Number" required>
                                <mat-error *ngIf="BBPOUCompanyForm.controls['contact_person_mobile_number'].hasError('required')">Mobile is mandatory.</mat-error>
                                <mat-error *ngIf="BBPOUCompanyForm.controls['contact_person_mobile_number'].hasError('pattern')">Character(s) are not allowed.</mat-error>
                                <mat-error *ngIf="BBPOUCompanyForm.controls['contact_person_mobile_number'].hasError('maxLength')">Maximum 10 characters.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>Email<em style="color: red;">*</em></mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput type="email" formControlName="email" placeholder="Enter Email" [readonly]="shouldisable">
                                <mat-error *ngIf="BBPOUCompanyForm.controls['email'].hasError('required')">Email is mandatory.</mat-error>                                            
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>PAN<em style="color: red;">*</em></mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput type="text" formControlName="pan" placeholder="Enter PAN" required>
                                <mat-error *ngIf="BBPOUCompanyForm.controls['pan'].hasError('required')">PAN is mandatory.</mat-error>
                                <mat-error *ngIf="BBPOUCompanyForm.controls['pan'].hasError('pattern')">Invalid PAN.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>TAN<em style="color: red;">*</em></mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput type="text" formControlName="tan" placeholder="Enter TAN" required>
                                <mat-error *ngIf="BBPOUCompanyForm.controls['tan'].hasError('required')">TAN is mandatory.</mat-error>
                                <mat-error *ngIf="BBPOUCompanyForm.controls['tan'].hasError('pattern')">Invalid TAN.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>GST<em style="color: red;">*</em></mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput type="text" formControlName="gst" placeholder="Enter GST" required>
                                <mat-error *ngIf="BBPOUCompanyForm.controls['gst'].hasError('required')">GST is mandatory.</mat-error>
                                <mat-error *ngIf="BBPOUCompanyForm.controls['gst'].hasError('pattern')">Invalid GST.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <mat-label>CIN<em style="color: red;">*</em></mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput type="text" formControlName="cin" placeholder="Enter CIN" required>
                                <mat-error *ngIf="BBPOUCompanyForm.controls['cin'].hasError('required')">CIN is mandatory.</mat-error>
                                <mat-error *ngIf="BBPOUCompanyForm.controls['cin'].hasError('pattern')">Invalid CIN.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="card">
                <div class="body">
                    <h3 style="text-align: center;"><strong>Contact Details</strong></h3><br>
                    
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="body">
                                    <div class="body table-responsive" formArrayName="initialItemRow">
                                        <table aria-describedby="" class="table table-hover">
    
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Action</th>
                                                    <th style="text-align:center">Contact Person Name</th>
                                                    <th style="text-align:center">Designation</th>
                                                    <th style="text-align:center">Contact Person Mobile No</th>
                                                    <th style="text-align:center">Email Id</th>
                                                </tr>
                                            </thead>
                                            <tbody class="main_tbody">
                                                <ng-container>
                                                    <tr *ngFor="let dynamic of BBPOUCompanyForm.controls.initialItemRow['controls']; let i = index" [formGroupName]="i">
                                                        <td>
                                                            <ng-container *ngIf="i==0">
                                                                <button type="button"
                                                                    class="btn btn-primary btn-rounded waves-effect"
                                                                    (click)="addNewRow()">+
                                                                </button>
                                                            </ng-container>
                                                            <ng-container *ngIf="i>0">
                                                                <button type="button"
                                                                    class="btn btn-danger btn-rounded waves-effect"
                                                                    (click)="deleteRow(i)">-
                                                                </button>
                                                            </ng-container>
                                                        </td>
                                                        <td class="col_input">
                                                            <input class="form-control" type="text"
                                                            id="contact_person_name{{i+1}}" placeholder="Enter Contact Number"
                                                            formControlName="contact_person_name">
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="text"
                                                            id="designation{{i+1}}" placeholder="Enter Designation"
                                                            formControlName="designation">
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="text"
                                                            id="contact_person_mobile_number{{i+1}}" placeholder="Enter Mobile Number"
                                                            formControlName="contact_person_mobile_number">
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="text"
                                                            id="email{{i+1}}" placeholder="Enter Email"
                                                            formControlName="email">
                                                        </td>

                                                    </tr>
                                                </ng-container>
                                            </tbody>            


                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="card">
                <div class="body" style="text-align: center;">
                    <div class="button-demo">
                        <button class="btn btn-primary mr5" type="submit" *ngIf="submitBtn" [disabled]="showLoader"
                            name="submit" value="Submit" [disabled]="BBPOUCompanyForm.invalid">{{btnVal}}
                            <em class="fa fa-spinner fa-spin" *ngIf="showLoader"></em>
                        </button>
                        <button class="btn btn-danger" type="button" (click)="onCancelForm()">Cancel</button>
                    </div>
                </div>
            </div>                                         
        </form>
            
    </div>
</div>                        