 <div id="new_entry_form">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <form class="employeeForm-form m-4" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
                <div class="card">
                    <div class="body">
                        <div class="row"> 

                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <mat-label>Name <em style="color: red;">*</em></mat-label>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <input matInput formControlName="emp_name" placeholder="Enter Full Name">
                                        <mat-error *ngIf="employeeForm.get('emp_name').hasError('required')">Full Name
                                            is mandatory.</mat-error>
                                        <mat-error *ngIf="employeeForm.get('emp_name').hasError('pattern')">Character(s)
                                            are not allowed..</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <mat-label>Email <em style="color: red;">*</em></mat-label>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <input matInput formControlName="email" placeholder="Enter Email">
                                        <mat-error *ngIf="employeeForm.get('email').hasError('required')">Email is
                                            Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <mat-label>Phone </mat-label>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <input matInput formControlName="phone" placeholder="Enter Phone">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="card">
                                <div class="body" style="text-align: center;">
                                    <div class="button-demo">
                                        <button class="btn btn-primary mr5" type="submit" *ngIf="submitBtn" [disabled]="showLoader"
                                            name="submit" value="Submit">{{btnVal}}
                                            <em class="fa fa-spinner fa-spin" *ngIf="showLoader"></em>
                                        </button>
                                        <button class="btn btn-danger" type="button" (click)="onCancelForm()">Cancel</button>
                                    </div>
                                </div>
                            </div>    

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>       