<section class="content">
    <app-screen-header [screenName]="screenName" (showFormList)="showFormList($event)" [showList]="showList" [sidebarData]="sidebarData"></app-screen-header>
    <app-biller-bank-charges-details
        *ngIf="listDiv === true"
        [rowData]="rowData"
        (onSave)="onSave($event)"
        (onCancel)="onCancel($event)"
        [editFlag]="editFlag"
        [submitBtn]="submitBtn"
        [showLoader]="showLoader"
        [billerBankChargesData]="billerBankChargesData">
    </app-biller-bank-charges-details>
    <div class="row clearfix" [hidden]="listDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <div class="table-responsive">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <button class="btn btn-secondary buttons-copy buttons-html5"
                                    tabindex="0" aria-controls="example1" type="button"
                                    (click)="export_to_excel();">
                                    <span>Excel</span>
                                </button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: right;">
                                <mat-form-field appearance="fill">
                                    <mat-label>
                                    <em class="fa fa-search" aria-hidden="true"></em>
                                    Search
                                    </mat-label>
                                    <input matInput (keyup)='tbl_FilterDatatable($event.target.value)'>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" id="excel-table">
                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef style="color: white;">Actions</mat-header-cell>
                                <mat-cell *matCellDef="let row;">
                                    <span *ngFor="let item of sidebarData">
                                        <button *ngIf="item.read_access=='Y'" class="btn tblActnBtn h-auto" (click)="editViewRecord(row,'view')">
                                            <em class="material-icons">visibility</em>
                                        </button>
                                        <button *ngIf="item.write_access=='Y' && row.version_number == 1"  class="btn tblActnBtn h-auto" (click)="editViewRecord(row,'versionCreate')">
                                            <em class="material-icons">source</em>
                                        </button>
                                        <button *ngIf="item.write_access=='Y' && row.revision_status=='Future' && row.version_number >1" class="btn tblActnBtn h-auto" (click)='editViewRecord(row,"veredit")'>
                                                <em class="material-icons">rate_review_rounded</em>
                                        </button>
                                    </span>
                                </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="biller_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Biller Name</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.biller_name}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="bbpoubank_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">BBPOU Bank Name</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.bbpoubank_name}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="settlementfrequency_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Settlement Frequency</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.settlementfrequency_name}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="npcisettlementtype_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">NPCI SettleEment Type </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.npcisettlementtype_name}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="start_date">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Start Date</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.start_date}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="end_date">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">End Date</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.end_date}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="revision_status">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Revision Status</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.revision_status}}</mat-cell>
                            </ng-container>
                        
                            <mat-header-row *matHeaderRowDef="displayColumns" style="background-color:#666666;"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayColumns;" [style.cursor]="'pointer'" matRipple>
                            </mat-row>
                        </mat-table>
                        <mat-paginator #dataSourcePaginator="matPaginator" [pageSizeOptions]="[ 10, 15, 20]" [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>
        </div>  
       </div>           

    </div>

</section>
