<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="ROLLMasterForm" (ngSubmit)="onSubmit()">
            <div class="card">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-label>Role Name<em style="color: red;">*</em></mat-label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="role_name" placeholder="Role Name" required>
                                <mat-error *ngIf="ROLLMasterForm.get('role_name')">Name is
                                    Required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="body" style="text-align: center;">
                        <div class="button-demo">
                            <button type="submit" *ngIf="submitBtn" [disabled]="showLoader"
                                class="btn btn-primary btn-border-radius waves-effect">{{btnVal}}
                                <em class="fa fa-spinner fa-spin" *ngIf="showLoader"></em>
                            </button>
                            <button class="btn btn-danger" type="button" (click)="onCancelForm()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>