    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form [formGroup]="bankmasterForm" (ngSubmit)="onSubmit()">
                <div class="card">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Bank New Name</mat-label>
                                        <input matInput formControlName="bank_name" required>
                                        <mat-icon matSuffix>account_balance</mat-icon>
                                        <mat-error
                                            *ngIf="bankmasterForm.controls['bank_name'].hasError('required')">Zone is
                                            RequiredBank Name is Required / Length shouldn't exceed 30 characters
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Branch Name</mat-label>
                                        <input matInput formControlName="branch_name" required>
                                        <mat-icon matSuffix>home</mat-icon>
                                        <mat-error
                                            *ngIf="bankmasterForm.controls['branch_name'].hasError('required')">Branch
                                            Name is Required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <div class="form-group">

                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Bank Code </mat-label>
                                        <input matInput formControlName="bank_code" required>
                                        <mat-icon matSuffix> confirmation_number</mat-icon>
                                        <mat-error
                                            *ngIf="bankmasterForm.controls['bank_code'].hasError('required')">Bank Code
                                            is Required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Account Number </mat-label>
                                        <input matInput formControlName="account_number" required>
                                        <mat-icon matSuffix>account_box</mat-icon>
                                        <mat-error *ngIf="bankmasterForm.get('account_number')">Bank Account Number is
                                            required! (Only 9 to 26 characters are allowed and only enter
                                            numbers.)</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Account Type</mat-label>
                                        <mat-select formControlName="account_type" required>
                                            <mat-option [value]="">
                                                Select Account Type
                                            </mat-option>
                                            <mat-option [value]="data.id" *ngFor="let data of accounttypeData">
                                                {{data.master_key}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>account_circle</mat-icon>
                                        <mat-error
                                            *ngIf="bankmasterForm.controls['account_type'].hasError('required')">Account
                                            Type is Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>SWIFT Number </mat-label>
                                        <input matInput formControlName="swift_number">
                                        <mat-icon matSuffix>assignment_ind</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>IFSC Code </mat-label>
                                        <input matInput formControlName="ifsc_code" required>
                                        <mat-icon matSuffix>assessment </mat-icon>
                                        <mat-error
                                            *ngIf="bankmasterForm.controls['ifsc_code'].hasError('required')">IFSC Code
                                            is Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>IBAN Number </mat-label>
                                        <input matInput formControlName="iban_number">
                                        <mat-icon matSuffix> assignment</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Cash Credit Limit </mat-label>
                                        <input matInput formControlName="cash_credit_limit" required>
                                        <mat-icon matSuffix>account_balance_wallet</mat-icon>
                                        <mat-error
                                            *ngIf="bankmasterForm.controls['cash_credit_limit'].hasError('required')">Cash
                                            Credit Limit is Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Address 1</mat-label>
                                        <textarea matInput formControlName="address1"
                                            placeholder="upto 30 characters"></textarea>
                                        <mat-icon matSuffix> location_on</mat-icon>
                                        <mat-error
                                            *ngIf="bankmasterForm.controls['address1'].hasError('required')">Address 1
                                            is Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Address 2</mat-label>
                                        <textarea matInput formControlName="address2"></textarea>
                                        <mat-icon matSuffix> location_on</mat-icon>
                                        <mat-error
                                            *ngIf="bankmasterForm.controls['address2'].hasError('required')">Address 2
                                            is Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <div class="form-group">

                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Country</mat-label>
                                        <mat-select formControlName="country_ref_id" required>
                                            <mat-option [value]="">
                                                Select Country
                                            </mat-option>
                                            <mat-option [value]="data.id" *ngFor="let data of countrydata">
                                                {{data.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>flag</mat-icon>
                                        <mat-error
                                            *ngIf="bankmasterForm.controls['country_ref_id'].hasError('required')">Country
                                            is Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <div class="form-group">

                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>State</mat-label>
                                        <mat-select formControlName="state_ref_id" required>
                                            <mat-option [value]="">
                                                Select State
                                            </mat-option>
                                            <mat-option [value]="data.id" *ngFor="let data of statedata">
                                                {{data.state}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>flag</mat-icon>
                                        <mat-error
                                            *ngIf="bankmasterForm.controls['state_ref_id'].hasError('required')">State
                                            is Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <div class="form-group">

                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>City</mat-label>
                                        <mat-select formControlName="city_ref_id" required>
                                            <mat-option [value]="">
                                                Select City
                                            </mat-option>
                                            <mat-option [value]="data.id" *ngFor="let data of citydata">
                                                {{data.city_name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>flag</mat-icon>
                                        <mat-error
                                            *ngIf="bankmasterForm.controls['city_ref_id'].hasError('required')">City is
                                            Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <div class="form-group">

                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Pincode</mat-label>
                                        <input matInput formControlName="pincode" required>

                                        <mat-error *ngIf="bankmasterForm.get('pincode')">
                                            pincode should be between 400000 - 499999
                                        </mat-error>
                                        <mat-icon matSuffix>pin_drop</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>


                        <div *ngIf="isFlag" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <section class="example-section">
                                    <label class="example-margin">Is Nodal Account?</label>
                                    <span>No</span>
                                    <mat-slide-toggle formControlName="nodal_acc_flag" class="example-margin">Yes
                                    </mat-slide-toggle>
                                </section>
                            </div>
                        </div>

                        <h5 style="text-align: center;"><strong>Define Bank Details</strong>
                            <hr style="border: 1px solid;color:#0f4f8e;">
                        </h5><br>

                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="body">
                                        <div class="table-responsive" formArrayName="initialItemRow">
                                            <table id="tableExport" aria-describedby="" class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Action</th>
                                                        <th style="text-align:center">Contact Person Name</th>
                                                        <th style="text-align:center">Designation</th>
                                                        <th style="text-align:center">Contact Person Mobile No</th>
                                                        <th style="text-align:center">Email</th>
                                                    </tr>
                                                </thead>

                                                <tbody class="main_tbody">
                                                    <tr *ngFor="let dynamic of bankmasterForm.controls.initialItemRow['controls']; let i = index"
                                                        [formGroupName]="i">

                                                        <td>
                                                            <ng-container *ngIf="i==0">
                                                        <td>
                                                            <button type="button"
                                                                class="btn btn-primary btn-rounded waves-effect"
                                                                (click)="addNewRow()">+</button>
                                                        </td>
                                                        </ng-container>
                                                        <ng-container *ngIf="i>0">
                                                            <td>
                                                                <button type="button"
                                                                    class="btn btn-danger btn-rounded waves-effect"
                                                                    (click)="deleteRow(i)">-</button>
                                                            </td>
                                                        </ng-container>
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="text"
                                                                id="contact_person_name{{i+1}}"
                                                                placeholder="Enter Contact Name"
                                                                formControlName="contact_person_name">
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="text"
                                                                id="designation{{i+1}}" placeholder="Enter Designation"
                                                                formControlName="designation">
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="text"
                                                                id="contact_person_mobile_number{{i+1}}"
                                                                placeholder="Enter Mobile Number"
                                                                formControlName="contact_person_mobile_number">
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="text" id="email{{i+1}}"
                                                                placeholder="Enter Email" formControlName="email">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card">
                    <div class="body" style="text-align: center;">
                        <div class="button-demo">
                            <button class="btn btn-primary mr5" type="submit" *ngIf="submitBtn" [disabled]="showLoader" [disabled]="bankmasterForm.invalid"
                                name="submit" value="Submit">{{btnVal}}
                                <em class="fa fa-spinner fa-spin" *ngIf="showLoader"></em>
                            </button>
                            <button class="btn btn-danger" type="button" (click)="onCancelForm()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>