<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card">
          <div class="body">
            <div id="plist" class="people-list">
              <div class="form-line m-b-15">
                <input type="text" class="form-control" placeholder="Search..." />
              </div>
              <div class="tab-content">
                <div id="chat_user" style="position: relative; max-height: 590px;" [perfectScrollbar]>
                  <ul class="chat-list list-unstyled m-b-0">
                    <li class="clearfix active">
                      <img src="assets/images/user/user1.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">William Smith</div>
                        <div class="status">
                          <em class="material-icons offline">fiber_manual_record</em>
                          left 7 mins ago </div>
                      </div>
                    </li>
                    <li class="clearfix ">
                      <img src="assets/images/user/user2.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Martha Williams</div>
                        <div class="status">
                          <em class="material-icons offline">fiber_manual_record</em>
                          online </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user3.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Joseph Clark</div>
                        <div class="status">
                          <em class="material-icons online">fiber_manual_record</em>
                          online </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user4.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Nancy Taylor</div>
                        <div class="status">
                          <em class="material-icons online">fiber_manual_record</em>
                          online </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user5.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Margaret Wilson</div>
                        <div class="status">
                          <em class="material-icons online">fiber_manual_record</em>
                          online </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user6.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Joseph Jones</div>
                        <div class="status">
                          <em class="material-icons offline">fiber_manual_record</em>
                          left 30 mins ago </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user7.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Jane Brown</div>
                        <div class="status">
                          <em class="material-icons offline">fiber_manual_record</em>
                          left 10 hours ago </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user8.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Eliza Johnson</div>
                        <div class="status">
                          <em class="material-icons online">fiber_manual_record</em>
                          online </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user3.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Mike Clark</div>
                        <div class="status">
                          <em class="material-icons online">fiber_manual_record</em>
                          online </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user4.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Ann Henry</div>
                        <div class="status">
                          <em class="material-icons online">fiber_manual_record</em>
                          online </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user5.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Nancy Smith</div>
                        <div class="status">
                          <em class="material-icons online">fiber_manual_record</em>
                          online </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user9.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">David Wilson</div>
                        <div class="status">
                          <em class="material-icons offline">fiber_manual_record</em>
                          offline since Oct 28 </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card">
          <div class="chat">
            <div class="chat-header clearfix">
              <img src="assets/images/user/user2.jpg" alt="avatar">
              <div class="chat-about">
                <div class="chat-with">Maria Smith</div>
                <div class="chat-num-messages">2 new messages</div>
              </div>
            </div>
            <div class="chat-history" id="chat-conversation" style="position: relative; max-height: 449px;"
              [perfectScrollbar]>
              <ul>
                <li class="clearfix">
                  <div class="message-data text-end">
                    <span class="message-data-time">10:10 AM, Today
                    </span>
                    &nbsp; &nbsp;
                    <span class="message-data-name">Maria</span>
                  </div>
                  <div class="message other-message float-end"> Hi Robert , how are you? How is
                    your work going on? </div>
                </li>
                <li>
                  <div class="message-data">
                    <span class="message-data-name">Robert </span>
                    <span class="message-data-time">10:12 AM, Today</span>
                  </div>
                  <div class="message my-message">
                    <p>Its good. We completed almost all task assign by our manager.</p>
                    <div class="row">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="message-data">
                    <span class="message-data-name">Robert </span>
                    <span class="message-data-time">10:12 AM, Today</span>
                  </div>
                  <div class="message my-message">
                    <p>How are you feel today? What's about vacation?.</p>
                    <div class="row">
                    </div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="message-data text-end">
                    <span class="message-data-time">10:10 AM, Today
                    </span>
                    &nbsp; &nbsp;
                    <span class="message-data-name">Maria</span>
                  </div>
                  <div class="message other-message float-end"> I am good, We think for next
                    weekend.
                  </div>
                </li>
              </ul>
            </div>
            <div class="chat-message clearfix">
              <div class="form-group">
                <div class="form-line">
                  <mat-form-field class="example-full-width" appearance="outline"
                    [hideRequiredMarker]="hideRequiredControl.value" [floatLabel]="false">
                    <input matInput placeholder="Enter text here.." required>
                  </mat-form-field>
                </div>
              </div>
              <div class="chat-upload">
                <button mat-mini-fab class="bg-deep-orange msr-2"> <em class="material-icons">attach_file</em></button>
                <button mat-mini-fab class="bg-deep-orange"> <em class="material-icons">insert_emoticon</em></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
