<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <form [formGroup]="paymentFileForm" (ngSubmit)="onSubmit()">
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <input type="hidden" >                                
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <mat-label>Biller <em style="color: red;">*</em></mat-label>
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-select formControlName="biller_ref_id" (selectionChange)="onBillerChange($event.value)" required>
                                                <mat-option value="">Select Biller </mat-option>
                                                <mat-option [value]="data.id" *ngFor="let data of companyData">
                                                    {{data.company_name}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="paymentFileForm.get('biller_ref_id')">Biller Name is required!</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <mat-label>Payment From Date <em style="color: red;">*</em></mat-label>
                                    <mat-form-field class="example-full-width" appearance="outline">                                            
                                        <input matInput  [matDatepicker]="picker" formControlName="from_date" placeholder="Select To Date"
                                         [max]="todayDate" [min]="fromMinDate" (click)="picker.open()"
                                         [disabled]="disabledFrom_date">                                            
                                        <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                                        <mat-datepicker #picker ></mat-datepicker>
                                        <mat-error *ngIf="paymentFileForm.get('from_date')">Payment From Date is Mandatory</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <mat-label>Total Transaction Amount</mat-label>
                                    <mat-form-field class="example-full-width" appearance="outline">                                            
                                        <input matInput formControlName="total_transaction_amount" type="number" [value]="" 
                                        >                                           
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <mat-label>Payment Reference Number</mat-label>
                                    <mat-form-field class="example-full-width" appearance="outline">                                            
                                        <input matInput formControlName="payment_ref_no" type="text" 
                                        placeholder="Reference Number">     
                                        <mat-error *ngIf="paymentFileForm.get('payment_ref_no')">Payment Number Less Than 30</mat-error>                                      
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <mat-label>Remark</mat-label>
                                    <mat-form-field class="example-full-width" appearance="outline">                                            
                                        <input matInput formControlName="remark" type="text" 
                                        placeholder="Remark">   
                                        <mat-error *ngIf="paymentFileForm.get('payment_ref_no')">Remark Should be Less Than 100</mat-error>                                         
                                    </mat-form-field>
                                </div>

                            </div>

                            <h5 style="text-align: center;"><strong>Define Payment Details</strong>
                                <hr style="border: 1px solid;color:#0f4f8e;">
                            </h5><br>

                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="body">
                                            <div class="table-responsive" formArrayName="initialItemRow">
                                                <table id="tableExport" aria-describedby="" class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:center">Bene Bank Name</th>
                                                            <th style="text-align:center">Ifsc Code</th>
                                                            <th style="text-align:center">Beneficiary Acc No</th>
                                                            <th style="text-align:center">Transaction Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="main_tbody">
                                                        <tr *ngFor="let dynamic of paymentFileForm.controls.initialItemRow['controls']; let i = index"
                                                            [formGroupName]="i">                                                               
                                                            <td class="col_input">
                                                                <input class="form-control" type="text"
                                                                id="bene_bank_name{{i}}" placeholder="Enter Bene Bank Name"
                                                                formControlName="bene_bank_name" [value]="" readonly>                                                                   
                                                            </td>
                                                            <td class="col_input">
                                                                <input class="form-control" type="text"
                                                                id="ifsc_code{{i}}" placeholder="Enter Ifsc Code"
                                                                formControlName="ifsc_code"  readonly>
                                                            </td>
                                                            <td class="col_input">
                                                                <input class="form-control" type="text"
                                                                id="beneficiary_accno{{i}}" placeholder="Enter Acc Number"
                                                                formControlName="beneficiary_accno" [value]="" readonly>
                                                            </td>
                                                            <td class="col_input">
                                                                <input class="form-control" type="text"
                                                                id="transaction_amount{{i}}" placeholder="Enter Transaction Amount"
                                                                formControlName="transaction_amount" readonly >
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <div class="body" style="text-align: center;">
                            <div class="button-demo">
                                    <button type="submit" [disabled]="paymentFileForm.invalid" *ngIf="submitBtn"
                                    class="btn btn-primary btn-border-radius waves-effect">{{btnValue}}</button>
                                <button type="button" class="btn btn-danger btn-border-radius waves-effect" onclick="location.reload(true);">Cancel</button>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>  