<section class="content">
    <app-screen-header  [screenName]="screenName"></app-screen-header>
    <div class="container-fluid">    
        <div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form [formGroup]= "download_structureForm" (ngSubmit)="onSubmit()">
                        <div class="card">
                            <div class="body">
                                <div class="row clearfix">
                                    <input type="hidden" formControlName="id" id="id" value="[id]" class="form-control">
                                    <div class="col-xl-6 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-label>Biller Name</mat-label>
                                        <mat-form-field class="example-full-width" appearance="outline">                                            
                                            <input readonly matInput type="text" formControlName= "company_name">
                                        </mat-form-field>
                                    </div>
                                   
                                    <div class="col-xl-6 col-lg-4 col-md-12 col-sm-12 mb-2">
                                        <mat-label>File Type</mat-label>
                                        <mat-form-field class="example-full-width" appearance="outline">                                            
                                            <input readonly matInput type="text" formControlName= "file_type_ref_id">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="body" style="text-align: center;">
                                <div class="button-demo">
                                    <button type="submit" class="btn btn-primary btn-border-radius waves-effect" >Download</button>
                                    <button type="button" class="btn btn-danger btn-border-radius waves-effect" onclick="location.reload(true);">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>