<div id="new_entry_form">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form [formGroup]="billerBankLinkForm" (ngSubmit)="onSubmit()">
                <div class="card">
                    <div class="body">
                        <div class="row clearfix">

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Biller Name</mat-label>
                                        <input readonly matInput type="text" formControlName="biller_name">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="outline">   
                                    <mat-label>From Date</mat-label>
                                        <input matInput [matDatepicker]="start_date" (click)="start_date.open()"  id="start_date" [min]="todayDate"
                                        [(ngModel)]="todayDate"  formControlName="start_date">
                                        <mat-datepicker-toggle matSuffix [for]="start_date"  ></mat-datepicker-toggle>
                                        <mat-datepicker #start_date></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>To Date</mat-label>
                                        <input matInput  formControlName="end_date" readonly>
                                    </mat-form-field>
                                </div>
                            </div>
    
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Revision Status</mat-label>
                                        <input readonly matInput formControlName="revision_status" placeholder="Effective / Future" required>
                                        <mat-error *ngIf="billerBankLinkForm.get('revision_status')">Revision Status is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <h5 style="text-align: center;"><strong>Percentage share limit should Be 100%</strong>
                            <hr style="border: 1px solid;color:#0f4f8e;">
                        </h5><br>

                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="body">
                                        <div class="table-responsive" formArrayName="initialItemRow">
                                            <table id="tableExport" aria-describedby="" class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center" width:80px>Action</th>
                                                        <th style="text-align:center">Bank</th>
                                                        <th style="text-align:center">Percentage Share</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="main_tbody">
                                                    <tr *ngFor="let dynamic of billerBankLinkForm.controls.initialItemRow['controls']; let i = index"
                                                        [formGroupName]="i">

                                                        <td>
                                                            <ng-container *ngIf="i==0">
                                                        <td>
                                                            <button type="button"
                                                                class="btn btn-primary btn-rounded waves-effect"
                                                                (click)="addNewRow()">+</button>
                                                        </td>
                                                        </ng-container>
                                                        <ng-container *ngIf="i>0">
                                                            <td>
                                                                <button type="button"
                                                                    class="btn btn-danger btn-rounded waves-effect"
                                                                    (click)="deleteRow(i)">-</button>
                                                            </td>
                                                        </ng-container>
                                                        </td>

                                                        <td class="col_input">
                                                            <select class="form-control" id="bank_ref_id{{i+1}}"
                                                                formControlName="bank_ref_id"
                                                                (change)="uniqueBanksContols(i)">
                                                                <option value="">Select Bank</option>
                                                                <option [value]="data.id" *ngFor="let data of bankData">
                                                                    {{data.bank_name}}</option>
                                                            </select>
                                                        </td>

                                                        <td class="col_input">
                                                            <input class="form-control" type="number"
                                                                id="percentage_share{{i+1}}"
                                                                (keyup)="percentageShareTotal(i)"
                                                                placeholder="Enter % Share"
                                                                formControlName="percentage_share" min="0" max="100"
                                                                required>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="body" style="text-align: center;">
                        <div class="button-demo">
                            <button class="btn btn-primary mr5" type="submit" *ngIf="submitBtn" [disabled]="showLoader"
                                [disabled]="billerBankLinkForm.invalid" name="submit" value="Submit">{{btnVal}}
                                <em class="fa fa-spinner fa-spin" *ngIf="showLoader"></em>
                            </button>
                            <button class="btn btn-danger" type="button" (click)="onCancelForm()">Cancel</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>