<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="currencyForm" (ngSubmit)="onSubmit()">
            <div class="card">
                <div class="body">
                    <div class="row">
                        <input type="hidden" formControlName="id" id="id" value="[id]" class="form-control">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                          <div class="form-group">
                              <mat-label> Name <em style="color: red;">*</em></mat-label>
                              <mat-form-field class="example-full-width" appearance="outline">
                                  <input matInput formControlName="name" placeholder="Name in Listing table" required>
                                  <mat-error *ngIf="currencyForm.controls['name'].hasError('required')">This field is mandatory.</mat-error>
                                  <mat-error *ngIf="currencyForm.controls['name'].hasError('pattern')">Character(s) are not allowed.</mat-error>
                                  <mat-error *ngIf="currencyForm.controls['name'].hasError('maxlength')">Maximum 10 characters.</mat-error>
                              </mat-form-field>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                          <div class="form-group">
                              <mat-label> ISO Codes <em style="color: red;">*</em></mat-label>
                              <mat-form-field class="example-full-width" appearance="outline">
                                  <input matInput formControlName="iso_codes" placeholder="ISO Codes" required>
                                  <mat-error *ngIf="currencyForm.controls['iso_codes'].hasError('required')">This field is mandatory.</mat-error>
                                  <mat-error *ngIf="currencyForm.controls['iso_codes'].hasError('pattern')">Character(s) are not allowed.</mat-error>
                                  <mat-error *ngIf="currencyForm.controls['iso_codes'].hasError('maxlength')">Maximum 10 characters.</mat-error>
                              </mat-form-field>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                          <div class="form-group">
                              <mat-label> Country Code </mat-label>
                              <mat-form-field class="example-full-width" appearance="outline">
                                  <input matInput formControlName="country_code" placeholder="Country Codes">
                              </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <mat-label> Currency Code </mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput formControlName="currency_code" placeholder="Currency Code" >
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <mat-label>Currency Symbol </mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput formControlName="currency_symbol" placeholder="Currency Symbol">
                                </mat-form-field>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="card">
              <div class="body" style="text-align: center;">
                  <div class="button-demo">
                      <button class="btn btn-primary mr5" type="submit" *ngIf="submitBtn" [disabled]="showLoader" name="submit" value="Submit">{{btnVal}}
                          <em class="fa fa-spinner fa-spin" *ngIf="showLoader"></em>
                      </button>
                      <button class="btn btn-danger" type="button" (click)="onCancelForm()">Cancel</button>
                  </div>
              </div>
          </div>
        </form>
    </div>
  </div>
