<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="billerForm" (ngSubmit)="onSubmit()">
            <div class="card">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Biller</mat-label>
                                <input matInput type="text"  formControlName="company_name"  [(ngModel)]="biller_name" required>
                                <mat-error *ngIf="billerForm.get('company_name')">Company Name is required!</mat-error>
                            </mat-form-field>
                        </div>      

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Partner Reffered by</mat-label>
                                <mat-select formControlName="partner_company_ref_id" >
                                    <mat-option [value]="">Select Partner</mat-option>
                                    <mat-option [value]="data.id" *ngFor="let data of PartnerData">
                                        {{data.company_name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Biller Short Name</mat-label>
                                <input matInput type="text" formControlName="company_shortname" required>
                                <mat-error *ngIf="billerForm.get('company_shortname')">Short Name is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Biller Unique ID</mat-label>
                                <input matInput type="text" formControlName="npci_assigned_id" required>
                                <mat-error *ngIf="billerForm.get('npci_assigned_id')">Biller Unique ID is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>BBPOU Bank</mat-label>
                                <mat-select formControlName="bbpou_company_ref_id" required>
                                    <mat-option [value]="">Select Bank</mat-option>
                                    <mat-option [value]="data.id" *ngFor="let data of BBPOUBankData">
                                        {{data.company_name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="billerForm.get('bbpou_company_ref_id')">Bank Name is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Address Line 1</mat-label>
                                <input matInput formControlName="address1" required>
                                <mat-error *ngIf="billerForm.get('address1')">Address Line 1 is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Address Line 2</mat-label>
                                <input matInput formControlName="address2" >
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Country</mat-label>
                                <mat-select formControlName="country_ref_id" required>
                                    <mat-option [value]="">Select Country</mat-option>
                                    <mat-option [value]="data.id" *ngFor="let data of countryData">
                                        {{data.name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="billerForm.get('country_ref_id')">Country is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>State</mat-label>
                                <mat-select formControlName="state_ref_id" required>
                                    <mat-option [value]="">
                                        Select State
                                    </mat-option>
                                    <mat-option [value]="data.id" *ngFor="let data of stateData">
                                        {{data.state}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix>flag</mat-icon>
                                <mat-error *ngIf="billerForm.get('state_ref_id')">State is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>City</mat-label>
                                <mat-select formControlName="city_ref_id" required>
                                    <mat-option [value]="">
                                        Select City
                                    </mat-option>
                                    <mat-option [value]="data.id" *ngFor="let data of cityData">
                                        {{data.city_name}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix>flag</mat-icon>
                                <mat-error *ngIf="billerForm.get('city_ref_id')">City is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Pincode</mat-label>
                                <input matInput formControlName="pincode" placeholder="Pincode e.g.,424242" required>
                                <mat-error *ngIf="billerForm.get('pincode')">Pincode is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Service Model</mat-label>
                                <mat-select formControlName="service_model_ref_id" required>
                                    <mat-option [value]="">Select Service Model</mat-option>
                                    <mat-option [value]="data.id" *ngFor="let data of service_model">
                                        {{data.master_key}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="billerForm.get('service_model_ref_id')">Service Model is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Billing Mode</mat-label>
                                <mat-select formControlName="billing_mode_ref_id" required>
                                    <mat-option [value]="">Select Billing Mode</mat-option>
                                    <mat-option [value]="data.id" *ngFor="let data of billing_mode">
                                        {{data.master_key}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="billerForm.get('billing_mode_ref_id')">Billing Mode is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Bill Amount</mat-label>
                                <mat-select formControlName="bill_amount_option_ref_id" required>
                                    <mat-option [value]="">Select Bill Amount</mat-option>
                                    <mat-option [value]="data.id" *ngFor="let data of bill_amount">
                                        {{data.master_key}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="billerForm.get('bill_amount_option_ref_id')">Bill Amount is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Onboarding Type</mat-label>
                                <mat-select formControlName="onboarding_ref_id" required>
                                    <mat-option [value]="">Select Onboarding Type</mat-option>
                                    <mat-option [value]="data.id" *ngFor="let data of onboarding_type">
                                        {{data.master_key}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="billerForm.get('onboarding_ref_id')">Onboarding Type is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Settlement Type</mat-label>
                                <mat-select formControlName="settlement_type_ref_id" required>
                                    <mat-option [value]="">Select Settlement Type</mat-option>
                                    <mat-option [value]="data.id" *ngFor="let data of settlement_type">
                                        {{data.master_key}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="billerForm.get('settlement_type_ref_id')">Settlement Type is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Biller Category</mat-label>
                                <mat-select formControlName="biller_category_ref_id" required>
                                    <mat-option [value]="">Select Biller Category</mat-option>
                                    <mat-option [value]="data.id" *ngFor="let data of biller_category">
                                        {{data.cat_name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="billerForm.get('biller_category_ref_id')">Biller Category is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>PAN</mat-label>
                                <input matInput formControlName="pan" placeholder="PAN e.g.,ABCDE1234F" required>
                                <mat-error *ngIf="billerForm.get('pan')">PAN is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>GSTIN</mat-label>
                                <input matInput formControlName="gst" placeholder="GST e.g.,12ABCDE3456F7G8" required>
                                <mat-error *ngIf="billerForm.get('gst')">GSTIN is required!</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>CIN</mat-label>
                                <input matInput formControlName="cin" placeholder="CIN e.g.,U12345DL2020PLC098765">
                                <mat-error *ngIf="billerForm.get('cin')">CIN is required!</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>TAN</mat-label>
                                <input matInput formControlName="tan" placeholder="TAN e.g.,ABCD12345E">
                                <mat-error *ngIf="billerForm.get('tan')">TAN is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Contact Person Name</mat-label>
                                <input matInput formControlName="contact_person_name" required>
                                <mat-error *ngIf="billerForm.get('contact_person_name')">Contact Person Name is required!</mat-error>
                                <mat-error *ngIf="billerForm.controls.contact_person_name.hasError('maxlength')">Maximum 30 characters allowed!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Email ID</mat-label>
                                <input matInput formControlName="email" required [readonly]="shouldisable">
                                <mat-error *ngIf="billerForm.get('email')">Email is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Mobile No.</mat-label>
                                <input matInput type="number" formControlName="contact_person_mobile_number" required>
                                <mat-error *ngIf="billerForm.get('contact_person_mobile_number')">Mobile No. is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Verification Comments</mat-label>
                                <input matInput formControlName="verification_comments" required>
                                <mat-error *ngIf="billerForm.get('verification_comments')">Verification Comments are required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div  class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                            <mat-form-field   class="example-full-width" appearance="outline">
                                <mat-label>Ownership Status</mat-label>
                                <mat-select  [disabled]="!biller_name" formControlName="ownership_status_ref_id" required>
                                    <mat-option [value]="">Select Ownership Status</mat-option>
                                    <mat-option [value]="data.id" *ngFor="let data of ownershipStatusData">
                                        {{data.master_key}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="billerForm.get('ownership_status_ref_id')">Ownership Status is required!</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                 </div>
            </div>

        <div class="card">
            <div class="body">
                <h3 style="text-align: center;"><strong>Define KYC Attachments</strong></h3><br>
                
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="body">
                                <div class="body table-responsive" formArrayName="KYC_initialItemRow">
                                    <table aria-describedby="" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center">Action</th>
                                                <th style="text-align:center">KYC Attachments</th>
                                                <th style="text-align:center">Attach Document</th>
                                                <th style="text-align:center">KYC doc folder Path</th>
                                            </tr>
                                        </thead>

                                        <tbody class="main_tbody">
                                            <tr *ngFor="let dynamic of billerForm.controls.KYC_initialItemRow['controls']; let i = index" [formGroupName]="i">
                                                <td>
                                                    <ng-container *ngIf="i==0">
                                                        <button type="button"
                                                            class="btn btn-primary btn-rounded waves-effect"
                                                            (click)="addNewRow()">+
                                                        </button>
                                                    </ng-container>
                                                    <ng-container *ngIf="i>0">
                                                        <button type="button"
                                                            class="btn btn-danger btn-rounded waves-effect"
                                                            (click)="deleteRow(i)" >-
                                                        </button>
                                                    </ng-container>
                                                </td> 
                                                <td class="col_input">
                                                    <select  class="form-select"  id="kyc_doc_ref_id{{i+1}}" formControlName="kyc_doc_ref_id" style="width:230px;" required>
                                                        <option value="">Select</option>
                                                        <option [value]="data.document_id" *ngFor="let data of kycCategoryData">{{data.abb_document_name}}</option>
                                                    </select>
                                                </td>

                                                <td class="col_input">
                                                    <div class="row clearfix">
                                                        <input class="form-control" type="file" accept="image/png, image/gif, image/jpeg, application/pdf "  formControlName="file" id="file{{i+1}}" (change)="setFileName($event, i)" style="height: 30px; width:270px;">
                                                        <button mat-icon-button type="button" id="upload_key_button{{i+1}}"  [disabled]="!biller_name" (click)="uploadFile(i)"><em class="material-icons">file_upload</em></button>
                                                        <button mat-icon-button [hidden]="disableview1" type="button"  (click)="openToViewFile(i)"><em class="material-icons">visibility</em></button>
                                                        <button mat-icon-button  [hidden]="disableview2" type="button"  (click)="openToViewFile(i)"><em class="material-icons">perm_media</em></button>
                                                    </div>
                                                </td>

                                                <td class="col_input">
                                                    <input class="form-control" type="text" id="kyc_document_path{{i+1}}" placeholder="Enter kyc document path" readonly formControlName="kyc_document_path">
                                                </td>
                                            </tr>
                                        </tbody>         

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
        <div class="card">
            <div class="body" style="text-align: center;">
                <div class="button-demo">
                    <button class="btn btn-primary mr5" type="submit" *ngIf="submitBtn" [disabled]="showLoader" 
                        [disabled]="billerForm.invalid "
                        name="submit" value="Submit">{{btnVal}} 
                        <em class="fa fa-spinner fa-spin" *ngIf="showLoader"></em>
                    </button>
                    <button class="btn btn-danger" type="button" (click)="onCancelForm()">Cancel</button>
                </div>
            </div>
        </div>                          
        </form>
    </div>
</div>                                
