<section class="content">
  <div class="container-fluid">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <form [formGroup]="dashboardForm">
        <div class="card">
          <div class="header">
            <div class="row clearfix">

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h2 > <strong>Billers</strong></h2>

                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-select [(value)]="billerSelected" (selectionChange)="intialsApis($event.value);" [disabled]="!Aggregator_Login">
                                   
                  <mat-option *ngIf="Aggregator_Login">
                      <ngx-mat-select-search [formControl]="getBillertoSearch"
                          placeholderLabel="Find Company..."
                          noEntriesFoundLabel="Company Not found">
                      </ngx-mat-select-search>
                  </mat-option>
                  <mat-option value="">Select Biller</mat-option>
                  <mat-option [value]="data.id" *ngFor="let data of Aggregator_biller_data|searchBiller:BillerNameValue">
                      {{data.company_name}}
                  </mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
  
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h2><strong>Month</strong></h2>
                  <mat-form-field class="example-full-width" appearance="outline">  
                      <input matInput type="month" formControlName="month" [max] ="SetMaxMonth">
                  </mat-form-field>  
              </div>

            </div>
          </div>
        </div>

      </form>
      
    </div>

    <div class="row">
       
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-cyan order-info-box7">
          <div class="info-box7-block">
            <h4 class="m-b-20">Total Collection</h4>
            <h2 class="text-right"><em class="fas fa-rupee-sign pull-left"></em><span>&nbsp;{{cumulative_collection}}</span></h2>
          </div>
        </div>
      </div>
 
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-purple order-info-box7">
          <div class="info-box7-block">
            <h4 class="m-b-20">Settlement Amount</h4>
            <h2 class="text-right"><em class="fas fa-rupee-sign pull-left"></em><span>&nbsp;{{ SettlementAmount }}</span></h2>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-orange order-info-box7">
          <div class="info-box7-block">
            <h4 class="m-b-20">Not Reconciled</h4>
            <h2 class="text-right"><em class="fas fa-rupee-sign pull-left"></em><span>&nbsp;{{ not_reconciled }}</span></h2>
          </div>
        </div>
      </div>
      

      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-green order-info-box7">
          <div class="info-box7-block">
            <h4 class="m-b-20">Total Transactions </h4>
            <h2 class="text-right"><em class="fas fa-wallet pull-left" ></em><span>&nbsp;{{ totalInvoices }}</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Bank Balance As Per Payment</strong></h2>
          </div>
          <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      <strong>Total Balance</strong>  
                    </mat-panel-title>
                    <mat-panel-description>
                        <strong>{{SettlementAmount }}</strong>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="body table-responsive">
                  <table aria-describedby="" class="table table-striped"> 
                    <thead>
                      <tr>
                        <td>#</td>
                        <td>Bank</td>
                        <td>Balance</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let bank_data of Bank_Balance_As_Per_Payment ; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{ bank_data.bbpou_bank_name}}</td>
                        <td>{{ bank_data.balance}}</td>
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Outstanding</strong></h2>
          </div>
          <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      <strong>Total Value</strong>  
                    </mat-panel-title>
                    <mat-panel-description>
                        <strong>Total Transactions</strong>
                    </mat-panel-description>
                    <mat-panel-title>
                      <strong>{{ total_value }}</strong>  
                    </mat-panel-title>
                    <mat-panel-description>
                        <strong>{{ total_transaction }}</strong>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="body table-responsive">
                  <table aria-describedby="" class="table table-striped"> 
                    <thead>
                      <tr>
                        <td>Days</td>
                        <td>0-30</td>
                        <td>31-60</td>
                        <td>61-above</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Value</th>
                        <td>{{  total_value_0_30  }}</td>
                        <td>{{  total_value_31_60  }}</td>
                        <td>{{ total_value_61_above }}</td>
                      </tr>
                      <tr>
                        <th scope="row">No. of transaction</th>
                        <td>{{ total_transaction_0_30 }}</td>
                        <td>{{ total_transaction_31_60 }}</td>
                        <td>{{ total_transaction_61_above }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        </div>
      </div>
      </div>
    <div class="row">
     
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Chart</strong> No. of Transaction & Value</h2>
              <mat-form-field class="col-xl" appearance="outline">
                <mat-select [(value)]="selected" (selectionChange)="changeBar($event.value);">
                  <mat-option value="Collection">Collection</mat-option>
                  <mat-option value="Outstanding">Outstanding</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
         
          <div class="body">
            <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
              [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
              [chartType]="barChartType"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>